<div class="col-sm-12" *ngIf="message != '' && message != undefined">
    <div [ngClass]=" message['success'] != true ? 'border-warning customize-float-error' : 'border-success customize-float'" class="px-5 py-2 mx-1 border rounded customized-z-index;  margin: auto;">{{(message['text'] != undefined) ? message['text'] : "Something went wrong"}}</div>
</div>