       <!-- Topic Cards -->
       <div id="cards_landscape_wrap-2">
        <div class="container">
            <div class="col-sm-12 row">
                <div class="form-group col-sm-3 text-left">
                    <button class="btn mb-btn-outline-warning my-auto" routerLink="/two-wheeler" style="padding: 8px;font-size: 14px;">
                        <i class="fa fa-arrow-left" aria-hidden="true"></i>
                        Back to vehicle details

                    </button>
                </div>
            </div>
            <div class="col-sm-12 pr-0 row">
                <div class="form-group col-sm-9 ">
                    <div class="text-left">
                        <h4 class="total-policy">Total Policies Found {{'('+policyList.length +')'}}</h4>
                    </div>
                </div>
                <div class="form-group col-sm-3 pr-0 text-left"  [formGroup]="filterForm">
                  <label for="" class="fliter-title">Filter By Type</label>
                  <select class="form-control" formControlName="filterByType" (change)="filterDataByType()" id="exampleFormControlSelect1" style="font-weight: 600;">
                    <option>All Types</option>
                    <option *ngFor="let type of productTypes" [value]="type">{{type}}</option>
                    <!-- <option>Home Insurance</option>
                    <option>Car Insurance</option>
                    <option>Health Insurance</option>
                    <option>Home Insurance</option>  -->
                  </select>
                </div>
            </div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Dropdown button
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <div class="dropdown-item form-check" >
                        <input type="checkbox" class="form-check-input" style="font-weight: 12px !important;" (change)="insurerToggle = ! insurerToggle;selectDeselectAll($event)"  id="isSelectedInsurer" [checked]="insurerToggle">
                        <label class="form-check-label" style="font-weight: 12px !important;"  for="isSelectedInsurer">{{insurerToggle == false ? 'SelectAll' : 'DeselectAll'}}</label>
                    </div>
                    <div class="dropdown-item form-check" *ngFor="let data of insrerArr;let i = index;">
                            <input type="checkbox" class="form-check-input" style="font-weight: 12px !important;" (change)="selectDeselectInsurer($event,i)" name="{{data['name']}}" value="{{data['name']}}" [checked]="data['iselected'] == true" id="exampleCheck-{{i}}">
                            <label class="form-check-label" style="font-weight: 12px !important;"  for="exampleCheck-{{i}}">{{data['name']}}</label>
                    </div>
                </div>
              </div>
            <hr>
            <div class="row deskstop-disp-card">
                <div class="col-sm-12 col-lg-4  ip-w" style="margin:auto" *ngFor="let policy of policyList">
                        <div class="card-flyer">
                            <div class="text-box pt-3">
                                <!-- <div class="image-box">
                                    <img src="../../../assets/home-icon.png" alt="" />
                                </div> -->
                                <div class="icon" style="">
                                    <img src="./assets/bajaj.png" class="i-h" alt="" style="height:60px">
                                </div>
                                <div class="text-container">
                                    <!-- <h4 class="policy-heading">{{policy['name']}}</h4> -->
                                    <h4 class="policy-heading">BAJAJ ALLIANZ</h4>
                                    <h6 class="policy-heading-subheading">(Comprehensive)</h6>
                                    <div class="col-sm-12 mt-2">
                                        <!-- <span><strong>Policy Year -</strong> Year 1</span> -->
                                        <h6 class="btn m-auto plan-cost" style="font-size: 25px !important;font-weight: 600 !important;text-transform: lowercase; ">₹ 50000 <span style="color: #8a7e7d;">/year</span></h6>
                                    </div>
                                    <div class="col-sm-12 mt-2">
                                        <!-- <span><strong>Policy Year -</strong> Year 1</span> -->
                                        <h6 class="btn m-auto" style="font-weight: 300 !important;text-transform: lowercase; "><span style="color: #8a7e7d;">Core IDV :</span>₹ 50000 <span style="color: #8a7e7d;">/year</span></h6>
                                    </div>

                                   <!-- <p>{{policy['description']}}</p> -->

                                </div>

                            </div>
                            <div class="card-footer" style="display:flex">
                                <!-- <small>Last updated 3 mins ago</small> -->
                                <a class="m-auto" href="#">Brochure</a>
                                <button type="button" class="btn btn-outline-warning m-auto">Buy Now</button>
                                <a class="m-auto" href="#">Detail</a>
                                <!-- <a href="../../../../assets/2312100840983600000.pdf" target="_self" class="btn col-sm-5 btn-sm  button1 p-2 mr-1 " routerLink="/dashboard/policy-details/{{policy['policy_id']}}" style="background-color: darkcyan;color: #fff;">View Details</a>
                                <a href="../../../../assets/2312100840983600000.pdf" target="_self" class="btn col-sm-5 btn-sm  button1 p-2 ml-1" style="background-color: darkcyan;color: #fff;">Download PDF</a> -->
                            </div>
                        </div>
                </div>
            </div>
            <div class="col-sm-12 mobile-disp-card">
                <div class="bg-white my-2 shadow-lg rounded row" style="width:initial;" *ngFor="let policy of policyList">
                    <div class="py-2 mb-plan-card border-right " style="width:30%;" >
                        <img src="./assets/bajaj.png" class="i-h my-auto" alt="" style="height:60px;width: 100%;">
                    </div>
                    <div class="p-1 mb-plan-card" style="width:40%;" >
                        <span class="my-auto mb-plan-title">Regular Third Party Only</span>
                    </div>
                    <div class="py-1 mb-plan-card" style="width:30%;">
                        <button class="btn mb-btn-outline-warning my-auto" style="padding: 8px;font-size: 14px;">
                            ₹ 50000
                            <i class="fa fa-arrow-right" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  -->

