<div class="col-sm-12">
    <div class="container">
        <!-- <div class="shadow-lg p-3 mb-5 bg-white rounded">Larger shadow</div> -->
        <div class="col-sm-12 mp-0">
            <div class="col-sm-12 shadow-lg mb-5 bg-white rounded row p-0">
                <div class="col-sm-5 p-0 mv-tw-img">
                    <div class="col-md-12 col-lg-12 mobile-view" style="height:100%;background: linear-gradient(182deg,rgb(129, 149, 171) 0%,rgb(163, 190, 150) 100%);border-radius: 10px;color:#ffff;padding: 3%;">
                        <h5 class="title" style="font-weight: 600;">Bike insurance online</h5>
                        <p class="description" style="font-size: 19px;">
                            </p>
                            <ul>
                                <li>Comprehensive insurance</li>
                                <li>Third party insurance</li>
                                <li>Additional features</li>
                                <li>Depreciation cover</li>
                                
                               
                                </ul>
                        <p></p><br>
                       <div class="" style=""> <img src="https://www.policyplanner.com/design/img/bike-banner.png" class="i-h" alt="" style="height: 250px;"></div>
                       
                        
                    </div>
                </div> 
                <div class="col-sm-7 p-1 mv-tw-main">
                    <div class="col-sm-12 py-5 h-full">
                        <div class="col-sm-12 h-full py-3" style="background: #f6f7f9;">
                            <h2 class="tw-heading">Save upto <b>85% *</b> on Two Wheeler Insurance <span></span></h2>
                            <div class="col-sm-12">
                                <ul class="txtCenter">
                                    <li class="tw-list">Instant policy</li>
                                    <li class="tw-list">No inspection</li>
                                    <li class="tw-list">No documentation</li>
                                </ul>
                            </div>
                            <div class="col-sm-12 row my-3 text-center get-quote pr-0 pl-4">
                                <!-- <div class="textinput">
                                    <input type="text" id="rto" name="rto" placeholder="Enter Bike Number:  (eg. DL-10-CB-1234)" >
                                    <label for="rto">Bike Number</label>
                                    <span class="mdl-textfield__error errorMsg"></span>
                                 </div> -->
                                <input type="text" class="form-control col-sm-8 text-center p-4" placeholder="Enter Bike Number:  (eg. DL-10-CB-1234)">
                                <button  class="btn btn-quotes col-sm-4">Get Quote</button>
                            </div>
                            <div class="or"><span>or</span></div>
                            <a class="btn-proceed">Proceed without bike number</a>
                            <div class="newBike-links">
                                <!-- <button id="renewal" type="button" class="uploadbtn fadeInDown animated7" onclick="tw.UploadButtonClick('upload')">Upload Your RC/Policy</button>
                                <div id="upload" style="display:none">
                                   <div class="overlay" onclick="tw.hide()">	</div>
                                   <div class="overlay-popup slideInRight slideInRightanimated">
                                      <a href="javascript:void(0)" onclick="tw.hide()" class="close"></a>
                                      <iframe class="tw-iframe" src="https://www.policybazaar.com/templates/policybazaar/motor-renewal-internal-tw.php?productid=114" border="0" scrolling="no"></iframe>
                                   </div>
                                </div>
                                <span class="new-Bike fadeInDown animated7"></span> -->
                                <a href="#" class="btn-newCar"> Brand new Bike? Click here</a>
                             </div>
                             <div class="multi_lang text-center">
                                <a href="#">English</a>
                                <a href="#">हिन्दी</a> 
                                <a href="#">தமிழ்</a> 
                                <a href="#">తెలుగు</a>
                                <a href="#">ಕನ್ನಡ</a> 
                                <a href="#">മലയാളം</a>
                                <a href="#">বাঙলা</a>
                                 <a href="#">मराठी</a>
                                  <a href="#">ଓଡ଼ିଆ</a>
                                   <a href="#">ਪੰਜਾਬੀ</a>
                                <a href="#" class="last-child">ગુજરાતી</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>