<div id="cards_landscape_wrap-2">
    <!-- Topic Cards -->
    <div *ngIf="isLoading"
        style="height: 100%;width: 100%;position: fixed;background:rgba(0, 0, 0, 0.9);;z-index: 999;overflow: hidden;">
        <div style="height: 100%;width: 100%;display: flex;">
            <!-- <div class="spinner-grow text-light m-auto" role="status">
                <span class="sr-only">Loading...</span>
            </div> -->
            <div class="blocks">
                <!-- <div class="block1 orange"><span>P</span></div>
                <div class="block1 blue"><span>P</span></div> -->
                <div class="block1 orange"></div>
                <div class="block1 blue"></div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="col-sm-12 row">
            <div class="form-group col-sm-3 text-left">
                <button class="btn mb-btn-outline-warning my-auto" routerLink="/four-wheeler/four-wheeler-getquote"
                    style="padding: 8px;font-size: 14px;">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Back to vehicle details
                </button>
            </div>
            <div class="col-sm-6 d-grid">
                <h6 class="text-left">{{carDetailsObj['carBrand']}} - <span
                        style="font-size: 14px;color: #7b7b7b;">{{carDetailsObj['carModel']}}</span></h6>
                <ul class="list-inline" style="font-size: 12px;text-align: left;">
                    <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                            style="font-size: 9px;"></i>Private Car</li>
                    <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                            style="font-size: 9px;"></i>{{carDetailsObj['carRegistrationYear']}}</li>
                    <!-- <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true" style="font-size: 9px;"></i>{{carDetailsObj['carModel']}}</li> -->
                    <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                            style="font-size: 9px;"></i>{{carDetailsObj['carFuelType']}}</li>
                    <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                            style="font-size: 9px;"></i>{{carDetailsObj['carVarient']}}</li>
                </ul>
                <button class="btn btn-outline-primary mb-2" data-toggle="modal"
                    data-target="#editVehicalDetails">Edit</button>
            </div>
            <div class="col-sm-3">
                <h6 class="text-left">Registration Date- <span
                        style="font-size: 14px;color: #7b7b7b;">{{carDetailsObj['registrationDate']}}</span></h6>
            </div>
        </div>
        <!-- <hr class="mt-0">
        <div class="col-sm-12 row">

        </div> -->
        <hr class="mt-0">
        <div class="col-sm-12 pr-0 row" style="font-size: 12px;">
            <!-- <div class="form-group col-sm-3">
                    <div class="text-left">
                        <h4 class="total-policy">Total Plans Found {{'('+policyList.length +')'}}</h4>
                    </div>
                </div> -->
            <!-- <div class="col-sm-3 dropdown">
                <button class="btn dropdown-toggle border mt-4" style="width: 100%;font-weight: 500;font-size: 12px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Insurer
                </button>
                <div class="dropdown-menu" style="padding: 0px !important;max-height:500px!important;overflow: auto;font-size: 20px !important;left: 0px;transform: translate3d(16px, 55px, 0px) !important;" aria-labelledby="dropdownMenuButton">
                    <li class="dropdown-item">
                        <input type="checkbox" [(ngModel)]="InsurarerSelected" name="list_name1" value="m1" (change)="checkUncheckAllInsurer()"/> <strong> Select/ Unselect All</strong>
                      </li>
                    <li class="dropdown-item" *ngFor="let item of insurerArr">
                        <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name1" value="{{item['COMPANYNAME']}}" (change)="isAllSelectedInsurer()"/>
                        {{ item['COMPANYNAME']}}
                    </li>
                </div>
            </div> -->
            <div class="dropdown form-group col-sm-3">
              <div class="text-left">
                <label for="" class="fliter-title">Select Insurer:</label>
                <div class="btn col-12 border dropdown-toggle" type="button" id="dropdownMenuButton"
                  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Insurer
              </div>
              </div>
              <div class="dropdown-menu" style="max-height:450px !important; overflow-y:auto"
                  aria-labelledby="dropdownMenuButton">
                  <div class="dropdown-item form-check">
                      <input type="checkbox" class="form-check-input" style="font-weight: 12px !important;"
                          (change)="insurerToggle = ! insurerToggle;selectDeselectAll($event)" id="isSelectedInsurer"
                          [checked]="insurerToggle">
                      <label class="form-check-label" style="font-weight: 12px !important;"
                          for="isSelectedInsurer">{{insurerToggle == false ? 'SelectAll' : 'DeselectAll'}}</label>
                  </div>
                  <div class="dropdown-item form-check" *ngFor="let data of insurerArr;let i = index;">
                      <input type="checkbox" class="form-check-input" style="font-weight: 12px !important;"
                          (change)="selectDeselectInsurer($event,i)" name="{{data['SHORTNAME']}}"
                          value="{{data['SHORTNAME']}}" [checked]="data['isSelected'] == true"
                          id="exampleCheck-{{i}}">
                      <label class="form-check-label" style="font-weight: 12px !important;"
                          for="exampleCheck-{{i}}">{{data['SHORTNAME']}}</label>
                  </div>
              </div>
            </div>
            <!-- <div >
                <angular2-multiselect class="form-control" [data]="dropdownList" [(ngModel)]="selectedItems"
                [settings]="dropdownSettings"
                (onSelect)="onItemSelect($event)"
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)">
                </angular2-multiselect>
            </div> -->
            <div class="form-group col-sm-3 pr-0 text-left" [formGroup]="filterForm"
                *ngIf="carDetailsObj['carRegistrationYear'] !='Brand new car' ">
                <label for="" class="fliter-title">Zero Depreciation:</label>
                <select class="form-control" id="exampleFormControlSelect1" (change)="changeilterType()"
                    formControlName="zeroDepreciation" style="font-weight: 500;font-size: 12px;">
                    <option>YES</option>
                    <option>NO</option>
                </select>
            </div>
            <div class="form-group col-sm-3 pr-0 text-left" [formGroup]="filterForm">
                <label for="" class="fliter-title">Plan Type</label>
                <select class="form-control" formControlName="filterByType" (change)="filterDataByType()"
                    id="exampleFormControlSelect1" style="font-weight: 500;font-size: 12px;">
                    <option>All Types</option>
                    <!-- <option *ngFor="let type of productTypes" [value]="type">{{type}}</option> -->
                    <option>Comprehensive/Standard</option>
                    <option>Third Party</option>
                </select>
            </div>

            <div class="form-group col-sm-3 pr-0 text-left" [formGroup]="filterForm"
                *ngIf="carDetailsObj['carRegistrationYear'] !='Brand new car' ">
                <label for="" class="fliter-title">Previous NCB :</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="ncb"
                    (change)="changeilterType()" style="font-weight: 500;font-size: 12px;">
                    <option>0%</option>
                    <option>20%</option>
                    <option>25%</option>
                    <option>35%</option>
                    <option>45%</option>
                    <option>50%</option>
                </select>
            </div>
            <div class="form-group col-sm-3 pr-0 text-left" [formGroup]="filterForm"
                *ngIf="carDetailsObj['carRegistrationYear'] !='Brand new car' ">
                <label for="" class="fliter-title">Claim in Policy :</label>
                <select class="form-control" id="exampleFormControlSelect1" formControlName="claimInYourExistingPolicy"
                    (change)="changeilterType()" style="font-weight: 500;font-size: 12px;">
                    <option>NO</option>
                    <option>YES</option>
                </select>
            </div>
            <!-- <div class="col-sm-3 dropdown">
                <button class="btn dropdown-toggle border mt-4" style="width: 100%;font-weight: 500;font-size: 12px;" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Select Addons & Accessories
                </button>
                <div class="dropdown-menu" style="padding: 0px !important;" aria-labelledby="dropdownMenuButton">
                    <li class="list-group-item">
                        <input type="checkbox" [(ngModel)]="masterSelected" name="list_name" value="m1" (change)="checkUncheckAll()"/> <strong> Select/ Unselect All</strong>
                      </li>
                    <li class="list-group-item" *ngFor="let item of addOnArr">
                        <input type="checkbox" [(ngModel)]="item.isSelected" name="list_name" value="{{item.id}}" (change)="isAllSelected()"/>
                        {{item.value}}
                    </li>
                </div>
            </div> -->
            <!-- <div class="col-sm-3 dropdown">
                <button class="btn mt-4 border" style="width: 100%;font-weight: 500;font-size: 12px;" type="button"
                    id="dropdownMenuButton" data-toggle="modal" data-target="#NCBModal">
                    NCB
                </button>
            </div> -->
            <div class="col-sm-3 dropdown">
              <div class="text-left">
                <label for="" class="fliter-title"><strong>Select Insurer:</strong></label>
                <button class="btn border" style="width: 100%;font-weight: 500;font-size: 12px;" type="button"
                    id="dropdownMenuButton" data-toggle="modal" data-target="#AddonsModal">
                    Addons & Accessories
                </button>
              </div>
            </div>
            <!-- <div class="col-sm-3 ">
                <label for="ddlelement">Add On's :</label>
                <ejs-dropdownlist class="border p-1 rounded" id='ddlelement' #samples [dataSource]='addOnsArr'
                    [fields]='fields' [placeholder]='text'></ejs-dropdownlist>
                          </div> -->
        </div>
        <hr>
        <div class="col-sm-12 pr-0 row">
            <div class="form-group col-sm-3">
                <div class="text-left">
                    <h4 class="total-policy">Total Plans Found {{'('+policyList.length +')'}}</h4>
                </div>
            </div>
            <div class="col-md-6 desk-view" style="text-align: center;">
                <h4 class="header-title ">
                    <span style="font-weight:700">100% Claim Support</span>
                </h4>
            </div>
            <div class="form-group col-sm-3 pr-0 text-left" [formGroup]="filterForm">
                <!-- <label for="" class="fliter-title">Filter By Price:</label> -->
                <select class="form-control" id="exampleFormControlSelect1" formControlName="price"
                    style="font-weight: 500;font-size: 12px;">
                    <option>Price (Lowest to High)</option>
                    <option>Price (High to Lowest)</option>
                </select>
            </div>
        </div>
        <hr style="margin-top: 0px;">
        <div class="row deskstop-disp-card" style="display: none !important;">
            <div class="col-sm-12 col-lg-4  ip-w" style="margin:auto;" *ngFor="let policy of policyList">
                <div class="card-flyer">
                    <div class="text-box pt-3">
                        <!-- <div class="image-box">
                                    <img src="./assets/home-icon.png" alt="" />
                                </div> -->
                        <div class="icon" style="">
                          <img src="./assets/bajaj.png" class="i-h" alt="" style="height:60px">
                        </div>
                        <div class="text-container">
                          <!-- <h4 class="policy-heading">{{policy['name']}}</h4> -->
                          <h4 class="policy-heading">BAJAJ ALLIANZ</h4>
                          <h6 class="policy-heading-subheading">(Comprehensive)</h6>
                          <div class="col-sm-12 mt-2">
                              <!-- <span><strong>Policy Year -</strong> Year 1</span> -->
                              <h6 class="btn m-auto plan-cost"
                                  style="font-size: 25px !important;font-weight: 600 !important;text-transform: lowercase; ">
                                  ₹ 50000 <span style="color: #8a7e7d;">/year</span></h6>
                          </div>
                          <div class="col-sm-12 mt-2">
                              <!-- <span><strong>Policy Year -</strong> Year 1</span> -->
                              <h6 class="btn m-auto" style="font-weight: 300 !important;text-transform: lowercase; ">
                                  <span style="color: #8a7e7d;">Core IDV :</span>₹ 50000 <span
                                      style="color: #8a7e7d;">/year</span></h6>
                          </div>

                            <!-- <p>{{policy['description']}}</p> -->

                        </div>

                    </div>
                    <div class="card-footer" style="display:flex">
                        <!-- <small>Last updated 3 mins ago</small> -->
                        <a class="m-auto"
                            href="https://www.policyplanner.com/car/PDF/DigitPrivateCarPolicy.pdf">Brochure</a>
                        <button type="button" class="btn btn-outline-warning m-auto">Buy Now</button>
                        <a class="m-auto pointer">Detail</a>
                        <!-- <a href="../../../../assets/2312100840983600000.pdf" target="_self" class="btn col-sm-5 btn-sm  button1 p-2 mr-1 " routerLink="/dashboard/policy-details/{{policy['policy_id']}}" style="background-color: darkcyan;color: #fff;">View Details</a>
                                <a href="../../../../assets/2312100840983600000.pdf" target="_self" class="btn col-sm-5 btn-sm  button1 p-2 ml-1" style="background-color: darkcyan;color: #fff;">Download PDF</a> -->
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 mobile-disp-card" style="display: none !important;">
            <div class="bg-white my-2 shadow-lg rounded row" style="width:initial;" *ngFor="let policy of policyList">
                <div class="py-2 mb-plan-card border-right " style="width:30%;">
                    <img src="./assets/bajaj.png" class="i-h my-auto" alt="" style="height:60px;width: 100%;">
                </div>
                <div class="p-1 mb-plan-card" style="width:40%;">
                    <span class="my-auto mb-plan-title">Regular Third Party Only</span>
                </div>
                <div class="py-1 mb-plan-card" style="width:30%;">
                    <button class="btn mb-btn-outline-warning my-auto" style="padding: 8px;font-size: 14px;">
                        ₹ 50000
                        <i class="fa fa-arrow-right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 row p-0 m-0">
            <div class="col-sm-8">

                <div class="bg-white my-3 shadow-lg card" style="width:initial;" *ngFor="let policy of policyList">
                    <div class="col-sm-12 pt-1">
                        <ul class="list-inline mb-1" style="font-size: 10px;text-align: left;color: #ef7435;">
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>No Inspection</li>
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>Instant Policy</li>
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>Policy Starts - 29-Oct-2020</li>
                        </ul>
                    </div>
                    <div class="col-sm-12 px-0 row m-0">
                        <div class="py-2 mb-plan-card border "
                            style="width:20%;height:120px;border-left: 0px !important;">
                            <img src="./assets/bajaj.png" class="i-h my-auto" alt="" style="width: 100%;">
                        </div>
                        <div class="p-1 border" style="width:30%;">
                            <div class="col-sm-12 text-left">
                                <label class="idv-txt">IDV</label>
                            </div>
                            <div class="col-sm-12 text-left">
                                <span class="my-auto " style="font-size: 20px;font-weight: 500;">₹ 2,93,250</span>
                            </div>

                        </div>
                        <div class="p-1 border" style="width:30%;">
                            <div class="col-sm-12 text-left">
                                <label class="idv-txt">Addons</label>
                            </div>
                            <div class="col-sm-12 text-left">
                                <span class="my-auto " style="font-size: 15px;font-weight: 500;">Zero Dep:
                                    Unavailable</span>
                            </div>

                        </div>
                        <div class="py-1 mb-plan-card border d-grid"
                            style="width:calc(100% - 80%);border-right: 0px !important;">
                            <button class="btn mb-btn-outline-warning my-auto" style="padding: 8px;font-size: 14px;">
                                ₹ 50000
                                <i class="fa fa-arrow-right" aria-hidden="true"></i>
                            </button>
                            <a class="f-12" href="" style="font-size: 12px;">View Details</a>
                        </div>
                    </div>
                    <div class="col-sm-12 py-1">
                        <ul class="list-inline mb-1" style="font-size: 11px;text-align: left;color: darkcyan;">
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>Cashless Claims or Reimbursement Within 24 hours Across
                                India</li>
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>Spot Claims Upto Rs. 2Lakhs</li>
                            <li class="list-inline-item"><i class="fa fa-circle mr-2" aria-hidden="true"
                                    style="font-size: 7px;"></i>Zero Paper Claims</li>
                        </ul>
                    </div>

                </div>
            </div>
            <div class="col-sm-4 pt-3">
                <div class="card shadow-lg"
                    style="background-image: url('../../../assets');background-repeat: no-repeat;background-size: cover;">
                    <div class="card-body">
                        <h5 class="card-title text-left" style="font-weight: bold;color: #172B4D;">Why buy from
                            Policyplanner?</h5>
                        <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                        <p class="card-text text-left" style="font-weight: 600;color:#505f79">Cashless Assurance</p>
                        <p class="card-text text-left" style="font-weight: 600;color:#505f79">3-Day Repair Assurance</p>
                        <p class="card-text text-left" style="font-weight: 600;color:#505f79">Free Pickup & Drop</p>
                        <p class="card-text text-left" style="font-weight: 600;color:#505f79">Self Video Claims</p>
                        <p class="card-text text-left" style="font-weight: 600;color:#505f79">Windshield Claims At Home
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  -->

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="extestingPolicy" style="display:none" data-toggle="modal"
    data-target="#exampleModalCenter">
    Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="exampleModalCenter" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: block !important;">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
                <button type="button" id="existing-policy-type-close" style="display: none;" class="close"
                    data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h6 class="text-center">Select your existing policy type</h6>
                <h6 class="text-center text-primary" style="font-size: 12px;">We need this to offer you plans with the
                    right coverage</h6>

            </div>
            <div class="modal-body" [formGroup]="filterForm">
                <div class="col-sm-12 p-4 bg-light rounded">
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 15px;" type="radio" name="existingPolicyType"
                            id="exampleRadios1" formControlName="existingPolicyType" value="option1"
                            (change)="DateFieldChanged('existing-policy-type-close','policy-expire-modal-btn')" checked>
                        <label class="form-check-label d-grid" for="exampleRadios1">
                            1-Year Comprehensive/Standard Policy.
                            <span>Covers your car and third party for 1 year</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 p-4 bg-light rounded">
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 15px;" type="radio" name="existingPolicyType"
                            id="exampleRadios1" formControlName="existingPolicyType" value="option1"
                            (change)="DateFieldChanged('existing-policy-type-close','policy-expire-modal-btn')" checked>
                        <label class="form-check-label d-grid" for="exampleRadios1">
                            2-Year Comprehensive/Standard Policy.
                            <span>Covers your car and third party for 2 year</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 p-4 bg-light rounded">
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 15px;" type="radio" name="existingPolicyType"
                            id="exampleRadios1" formControlName="existingPolicyType" value="option1"
                            (change)="DateFieldChanged('existing-policy-type-close','policy-expire-modal-btn')" checked>
                        <label class="form-check-label d-grid" for="exampleRadios1">
                            3-Year Comprehensive/Standard Policy.
                            <span>Covers your car and third party for 3 year</span>
                        </label>
                    </div>
                </div>
                <div class="col-sm-12 mt-1 p-4 bg-light rounded">
                    <div class="form-check">
                        <input class="form-check-input" style="margin-top: 15px;" type="radio"
                            formControlName="existingPolicyType" name="existingPolicyType"
                            (change)="DateFieldChanged('existing-policy-type-close','policy-expire-modal-btn')"
                            id="exampleRadios2" value="option2">
                        <label class="form-check-label d-grid" for="exampleRadios2">
                            1-Year Third Party Policy
                            <span>Covers third party only for 1 year</span>
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<button id="policy-expire-modal-btn" data-dismiss="modal" data-toggle="modal" data-target="#policy-expire-modal"
    style="display: none !important;"></button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="policy-expire-modal" tabindex="-1"
    role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: block !important;">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button> -->
                <div class="col-sm-12 row">
                    <div class="col-sm-2">
                        <a id="policy-expire-modal-a" data-dismiss="modal" style="display: none !important;"></a>
                        <a href="" data-dismiss="modal" style="font-size: 14px;" data-toggle="modal"
                            data-target="#exampleModalCenter"><i class="fa fa-angle-left" aria-hidden="true"></i>
                            back</a>
                    </div>
                    <div class="col-sm-10">
                        <h6 class="text-center text-primary" style="font-size: 20px;">When does your policy expire? <i
                                class="fa fa-info-circle ml-2" aria-hidden="true"></i></h6>
                        <h6 class="text-center" style="font-size: 12px;">Your quotes are loading! Just two more steps to
                            go...</h6>
                    </div>
                </div>
            </div>
            <div class="modal-body" [formGroup]="filterForm">
                <div class="form-group row col-sm-10 m-auto">
                    <label for="start_date" class="col-form-label pr-0">From Date :</label>
                    <div class="col-sm-9">
                        <div id="date-picker-example" class="md-form md-outline input-with-post-icon datepicker">
                            <input placeholder="Select date" type="date" id="example" formControlName="dosePolicyExpire"
                                class="form-control"
                                (change)="DateFieldChanged('policy-expire-modal-a','policy-claim-modal-btn')">
                        </div>
                        <!-- <my-date-picker id="start_date" placeholder="MM/DD/YYYY" class="date-field-margin-bottom"
                            [options]="pastDatePickerOptions" formControlName="dosePolicyExpire">

                            (keyup)="commonService.formatToDate($event)" maxlength="10"
                    (change)="changeMandatoryField('date_of_birth',$event)"
                    (focusout)="changeMandatoryField('date_of_birth',$event)"
                        </my-date-picker> -->
                    </div>
                </div>
                <div class="col-sm-12">
                    <h6 class="text-center text-primary mt-3 pointer" style="font-size: 12px;" data-dismiss="modal"
                        data-toggle="modal" data-target="#policy-claim-modal">Don't know policy expiry date?</h6>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<button id="policy-claim-modal-btn" data-toggle="modal" data-target="#policy-claim-modal"
    style="display: none !important;"></button>
<div class="modal fade" data-keyboard="false" data-backdrop="static" id="policy-claim-modal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header" style="display: block !important;">
                <!-- <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button> -->
                <div class="col-sm-12 row">
                    <div class="col-sm-2">
                        <a href="" data-dismiss="modal" style="font-size: 14px;" data-toggle="modal"
                            data-target="#policy-expire-modal"><i class="fa fa-angle-left" aria-hidden="true"></i>
                            back</a>
                    </div>
                    <div class="col-sm-10">
                        <h6 class="text-center text-primary" style="font-size: 20px;">Did you make a claim in your
                            existing
                            policy? <i class="fa fa-info-circle ml-2" aria-hidden="true"></i></h6>
                    </div>
                </div>
                <h6 class="text-center " style="font-size: 12px;">Your quotes are loading! Just two more steps to go...
                </h6>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 d-flex">
                    <button class="btn btn-outline-primary col-sm-5 m-auto" type="button"
                        (click)="doseClaimedPolicy('1')" data-dismiss="modal">YES</button>
                </div>
                <div class="col-sm-12 mt-3 d-flex">
                    <button class="btn btn-outline-primary col-sm-5 m-auto" type="button" data-dismiss="modal"
                        (click)="doseClaimedPolicy('0')">NO</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- edit vehical Modal -->
<div class="modal fade col-sm-12" id="editVehicalDetails" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" [formGroup]="filterForm">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-10 d-block">
                    <div>
                        <h5 class="modal-title vehical-name" id="exampleModalLabel">MARUTI A STAR LX</h5>
                    </div>
                    <div>
                        <span calss="car-span">DL7</span>
                    </div>
                </div>
                <div class="pull-left">
                    <button type="button" class="btn btn-outline-primary btn-sm" data-dismiss="modal">Change</button>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-sm-12 row mr-0">
                    <div class="col-sm-6"> <label>Vehicle Type :</label> </div>
                    <div class="col-sm-6 pr-0" style="display: flex;justify-content: space-between;">
                        <button type="button"
                            [ngClass]="vehicalType == 'Private' ? 'bg-primary text-white' : 'btn-outline-primary'"
                            class="btn btn-outline-primary" (click)="vehicalType ='Private'">Private</button>
                        <button type="button"
                            [ngClass]="vehicalType != 'Private' ? 'bg-primary text-white' : 'btn-outline-primary'"
                            class="btn btn-outline-primary" (click)="vehicalType ='Commercial'">Commercial</button>
                    </div>
                </div>
                <div class="col-sm-12 row mt-3">
                    <div class="col-sm-6"> <label>Fuel Type :</label> </div>
                    <div class="col-sm-6 pr-0">
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="carFuelType"
                            style="font-weight: 500;font-size: 12px;">
                            <option>PETROL</option>
                            <option>DISEL</option>
                            <option>CNG</option>
                        </select>
                        <!-- <ejs-dropdownlist id='ddlelement' #samples [dataSource]='varientArr' [fields]='fields' [placeholder]='text' formArrayName="varient"></ejs-dropdownlist> -->
                        <!-- <ejs-dropdownlist id='ddlelement' #samples [dataSource]='data' [fields]='fields' [placeholder]='text' (change)="changeVarient($event)"></ejs-dropdownlist> -->
                    </div>
                    <!-- <div class="col-sm-6 pr-0">
                <div class="col-sm-6"> <label>Variant :</label> </div>
                <ejs-dropdownlist id='ddlelement' #samples [dataSource]='varientArr' [fields]='fields' [placeholder]='text' formArrayName="varient"></ejs-dropdownlist>
              <ejs-dropdownlist id='ddlelement' #samples [dataSource]='data' [fields]='fields' [placeholder]='text' (change)="changeVarient($event)"></ejs-dropdownlist>
            </div> -->
                </div>
                <div class="col-sm-12 row mt-3">
                    <div class="col-sm-6"> <label>Varient :</label> </div>
                    <div class="col-sm-6 pr-0">
                        <select class="form-control" id="exampleFormControlSelect1" formControlName="varient"
                            style="font-weight: 500;font-size: 12px;">
                            <option *ngFor="let data of varientArr">{{data['VARIANT']}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 row mt-3">
                    <div class="col-sm-6"> <label>Registration Date :</label> </div>
                    <div class="col-sm-6 pr-0">
                        <input type="date" formControlName="registrationDate" class="form-control">
                    </div>
                </div>
                <div class="col-sm-12 row mt-3">
                    <div class="col-sm-6"> <label>Manufacturing Month :</label> </div>
                    <div class="col-sm-6 pr-0">
                        <input type="date" class="form-control" formArrayName="ManufacturingDate">
                    </div>
                </div>


                <!-- <div class="control-section">
          <div style=" width:300px; padding-top: 40px;">
              <ejs-dropdownlist id='diacritics' [dataSource]='data' [allowFiltering]='true' [ignoreAccent]='true' placeholder='Select a value'
                  filterBarPlaceholder='e.g: gul'>
              </ejs-dropdownlist>
          </div>
        </div> -->

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="saveEditedVhehicalDetails()">Save changes</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade col-sm-12" id="NCBModal" tabindex="-1" role="dialog" aria-labelledby="NCBModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-10 d-block">
                    <div>
                        <h5 class="modal-title" id="NCBModalLabel">Confirm NCB Value </h5>
                    </div>
                </div>
                <div class="pull-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">

                <div class="col-sm-12 row">
                    <label><b>Did you make a claim in your existing policy?</b></label>
                </div>
                <div class="col-sm-12 row ">
                    <div> <button type="button" [ngClass]="{'btn-primary': isNCBFlag}"
                            class="btn ml-2 mb-2 btn-outline-primary" (click)="isNCBFlag = true">Yes</button> </div>
                    <div> <button type="button" [ngClass]="{'btn-primary': !isNCBFlag}"
                            class="btn ml-2 mb-2 btn-outline-primary" (click)="isNCBFlag = false">No</button> </div>

                </div>
                <div *ngIf="isNCBFlag">
                    <div class="col-sm-12 row">
                        <label> <b>Select your existing No Claim Bonus (NCB):</b></label>
                    </div>

                    <div class="col-sm-12 row">
                        <div *ngFor="let btn of noClaimBonusArr">
                            <button type="button" class="option-btn" (click)="NCBValue=btn['NCBValue']"
                                [ngClass]="NCBValue==btn['NCBValue'] ? 'selected-option-btn' : '' ">{{btn['NCBValue']}}%</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Update</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade col-sm-12" id="AddonsModal" tabindex="-1" role="dialog" aria-labelledby="AddonsModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="col-sm-10 d-block">
                    <div>
                        <h5 class="modal-title" id="AddonsModalLabel">Select Addons & Accessories </h5>
                    </div>
                </div>
                <div class="pull-left">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">

                    <div> <strong> <label class="text-secondary">Addons</label></strong><a class="text-primary"
                            style="font-size:15px ;float: right;cursor: pointer;text-decoration: none !important;"
                            (click)="clearAddons()"><strong> Clear</strong></a>
                    </div>

                </div>
                <div class="col-sm-12">
                    <div class="col-sm-12 custom-control custom-checkbox custom-control-inline"
                        *ngFor="let data of addonsArr;let i = index;">
                        <input type="checkbox" class="custom-control-input" (change)="checkUncheckAddons($event,i)"
                            id="addons-{{i}}" [checked]="data['isSelected'] == true">
                        <label class="custom-control-label" for="addons-{{i}}">{{data['addonValue']}}</label>
                    </div>
                </div>
                <hr>

                <div class="col-sm-12">
                    <div><strong><label class="text-secondary">Accessories</label></strong></div>
                </div>
                <div class="col-sm-12 custom-control custom-checkbox custom-control-inline ml-3">
                    <input type="checkbox" class="custom-control-input" id="non_electrical_acc"
                        (change)="non_electrical_acc=!non_electrical_acc">
                    <label class="custom-control-label" for="non_electrical_acc"> Non-electrical Accessories
                        <div *ngIf="non_electrical_acc">
                            <div class="accessories-input">
                                <div class="user-input-section">
                                    <input type="text" maxlength="6" (keypress)="commonService.isNumbers($event)">
                                </div>
                            </div>
                            <div style="float: left;">
                                <div style="font-size: 10px; margin: 0;text-align: center;">
                                    <span>Min Amt :</span>
                                    <span> ₹1,000</span>
                                </div>
                            </div>
                            <div style="float: right;">
                                <div style="font-size: 10px; margin: 0;text-align: center;">
                                    <span>Max Amt : </span>
                                    <span> ₹2,50,000</span>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>


                <div class="col-sm-12 custom-control pt-3 custom-checkbox custom-control-inline ml-3">
                    <input type="checkbox" class="custom-control-input" id="electrical_acc"
                        (change)="electrical_acc=!electrical_acc">
                    <label class="custom-control-label" for="electrical_acc"> Electrical Accessories
                        <div *ngIf="electrical_acc">
                            <div class="accessories-input">
                                <div class="user-input-section">
                                    <input type="text" (keypress)="commonService.isNumbers($event)">
                                </div>
                            </div>
                            <div style="float: left;">
                                <div style="font-size: 10px; margin: 0;text-align: center;">
                                    <span>Min Amt :</span>
                                    <span>₹1,000</span>
                                </div>
                            </div>
                            <div style="float: right;">
                                <div style="font-size: 10px; margin: 0;text-align: center;">
                                    <span>Max Amt : </span>
                                    <span> ₹2,50,000</span>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>
                <hr>


                <div class="col-sm-12">
                    <strong> <label class="text-secondary"> Passanger Cover ? </label> </strong>
                </div>

                <div class="col-sm-12 row ">
                    <div> <button type="button" [ngClass]="{'btn-primary': isPassangerCover}"
                            style="border-color: #080707;" class="btn btn-sm ml-3 mb-2"
                            (click)="isPassangerCover = true">Yes</button> </div>
                    <div> <button type="button" [ngClass]="{'btn-primary': !isPassangerCover}"
                            style="border-color: #080707;" class="btn btn-sm ml-3 mb-2"
                            (click)="isPassangerCover = false">No</button> </div>
                </div>



                <div *ngIf="isPassangerCover">
                    <div class="col-sm-12">
                        <label> Select your Sum Insured:</label>
                    </div>
                    <div class="col-sm-12 row">
                        <div *ngFor="let  PassangerCover of passangerSumInsured">
                            <button type="button" class="btn ml-3 mt-2"
                                style="border-radius: 14px; padding: 5px 20px 6px 20px; font-size: 12px;outline:none;border-color: #080707;"
                                (click)="isPassangerCover=PassangerCover['pcoverValue']"
                                [ngClass]="isPassangerCover==PassangerCover['pcoverValue'] ? 'btn-primary' : '' ">₹{{PassangerCover['pcoverValue']}}</button>
                        </div>
                    </div>
                </div>


                <div class="pt-3">
                    <div class="col-sm-12">
                        <strong><label class="text-secondary"> Driver Cover ?</label> </strong>
                    </div>
                    <div class="col-sm-12 row">
                        <div> <button type="button" [ngClass]="{'btn-primary': isDrivercover}"
                                style="border-color: #080707;" class="btn btn-sm ml-3 mb-2 "
                                (click)="isDrivercover = true">Yes</button> </div>
                        <div> <button type="button" [ngClass]="{'btn-primary': !isDrivercover}"
                                style="border-color: #080707;" class="btn btn-sm ml-3 mb-2 "
                                (click)="isDrivercover = false">No</button> </div>
                    </div>
                </div>

                <div *ngIf="isDrivercover">
                    <div class="col-sm-12">
                        <label> Select your Sum Insured:</label>
                    </div>
                    <div class="col-sm-12 row">
                        <div *ngFor="let drivercover of driverSumInsured">
                            <button type="button" class="btn ml-3 mt-2"
                                style="border-radius: 14px; padding: 5px 20px 6px 20px; font-size: 12px;outline:none;border-color: #080707;"
                                (click)="isDrivercover = drivercover['dcoverValue']"
                                [ngClass]="isDrivercover == drivercover['dcoverValue'] ? 'btn-primary' : '' ">₹{{drivercover['dcoverValue']}}
                            </button>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <div class="pull-right">
                    <button type="button" class="btn btn-secondary mr-2" data-dismiss="modal">Cancel</button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                        (click)="setAddonsAndAccessories()">Submit</button>
                </div>
            </div>

        </div>
    </div>
</div>
