/*----  Main Style  ----*/
#cards_landscape_wrap-2{
    text-align: center;
    /* background: #f5f8fd; */
    background: #fff;
  }
  
  #cards_landscape_wrap-2 .container{
    padding-top: 50px; 
    padding-bottom: 100px;
  }
  #cards_landscape_wrap-2 a{
    text-decoration: none;
    outline: none;
  }
  #cards_landscape_wrap-2 .card-flyer {
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box{
    background: #ffffff;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
    border-radius: 5px;
  }
  #cards_landscape_wrap-2 .card-flyer .image-box img{
    -webkit-transition:all .9s ease; 
    -moz-transition:all .9s ease; 
    -o-transition:all .9s ease;
    -ms-transition:all .9s ease; 
    width: 100%;
    height: 200px;
  }
  #cards_landscape_wrap-2 .card-flyer:hover .image-box img{
    opacity: 0.7;
    -webkit-transform:scale(1.15);
    -moz-transform:scale(1.15);
    -ms-transform:scale(1.15);
    -o-transform:scale(1.15);
    transform:scale(1.15);
  }
  #cards_landscape_wrap-2 .card-flyer .text-box{
    text-align: center;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box .text-container{
    padding: 10px 18px;
  }
  #cards_landscape_wrap-2 .card-flyer{
    background: #FFFFFF;
    margin-top: 50px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.40);
  }
  #cards_landscape_wrap-2 .card-flyer:hover{
    background: #fff;
    box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.50);
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    margin-top: 50px;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box p{
    margin-top: 10px;
    margin-bottom: 0px;
    padding-bottom: 0px; 
    font-size: 14px;
    letter-spacing: 1px;
    color: #000000;
  }
  #cards_landscape_wrap-2 .card-flyer .text-box h6{
    margin-top: 0px;
    margin-bottom: 4px; 
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Roboto Black', sans-serif;
    letter-spacing: 1px;
    color:#111;
  }
  .e-input-group{
    margin: 0px !important;
  }
.form-group label{
  font-weight: 600;
}
.total-policy{
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 300;
    padding: 0px;
    margin: 0px 0px 0px;
    color: #314451;
}
.idv-txt{
    color: #b0b0b0;
    display: block;
    vertical-align: top;
    padding: 0px 7px 0px 0;
    vertical-align: middle;
}

.policy-heading{
  font-size: 20px;
  color: darkcyan;
}
.policy-heading-subheading{
  font-size: 12px !important;
};
.f-12{
  font-size: 12px !important;
}
.plan-cost{
  font-size: 25px !important;
  font-weight: 600 !important; 
  color:blue !important
}

.mb-plan-card{
    display: flex;
    justify-content: center;
    width: 30%;
}

.mb-btn-outline-warning {
    color: #212529;
    /* background-color: #ffc107; */
    border-color:#ef7435;
}
.mb-btn-outline-warning:hover {
    color: #fff;
    background-color: #ef7435;
    border-color: #ef7435;
}

.mb-plan-title{
    text-align: center;
    position: relative;
    /* min-height: 85px; */
    display: table-cell;
    font-size: 12px;
}

.mobile-disp-card{
    display: none;
}
.deskstop-disp-card{
    display: flex;
}

.d-grid{
  display: grid !important;
}
label .d-grid{
  padding-left: 10px;
}
.d-grid span{
  font-size: 12px !important;
  color: #007bff!important;
}

.dropdown-menu{
  min-width: 15rem !important;
}
.option-btn
{
  background: none;
  border: solid 1px #212121;
  border-radius: 20px;
  padding: 0 15px;
  color: #212121;
  margin: 0 12px 10px 0;
  width: 52px;
  outline:none;
  cursor: pointer;
}
.selected-option-btn {
  color: #fff;
  border: solid #007bff 1px;
  border-radius: 20px;
  background: #007bff;
  padding: 0 15px;
  margin: 0 12px 10px 0;
  width: 52px;
  outline:none;
  cursor: pointer;
}


.user-input-section input {
  border: none;
  border-bottom: solid 1px rgba(38, 132, 255, 0.34);
  text-align: center;
  line-height: 32px;
  outline:none;
}
@media only screen and (max-width: 768px) {
    .mobile-disp-card{
        display: block !important;
    }

    .deskstop-disp-card{
        display: none !important;
    }
    .total-policy{
      text-align: center;
    }
}


/* loading sppinner */
.blocks {
  height: 100px;
  margin: auto;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: center;
}

.block1 {
  --sz: 8vmin;
  --tX: 0;
  --animation: 700ms cubic-bezier(0.3, 0.5, 0.4, 0.9) infinite alternate-reverse;
  --hm: 4.5vmin;
  height: var(--sz);
  width: var(--sz);
  background-image: var(--bg);
  border-radius: 50%;
  transform: translateX(var(--tX));
  mix-blend-mode: lighten;
  color: #fff;
}
.block1 span{
  margin:auto
}
.orange {
  --bg: linear-gradient(-50deg, #ff6000db 0%, #ff6000f7 100%);
  margin-right: var(--hm);
  animation: attract-orange var(--animation);
}

.blue {
  --bg: linear-gradient(50deg, #008b8bdb 0%, #008b8be0 100%);
  margin-left: var(--hm);
  animation: attract-blue var(--animation);
}

@keyframes attract-orange {
  to {
    transform: translateX(calc(var(--sz) + calc(var(--hm) / 4)));
  }
}

@keyframes attract-blue {
  to {
    transform: translateX(calc(var(--sz) * -1 - calc(var(--hm) / 4)));
  }
}
