.modal-dialog{
    margin: unset !important;
    margin-left: auto !important;
    max-width: 1000px !important;
    height: 100% !important;
}
.modal-content{
    height: 100% !important;
}
.card-heading{
    background: #f1f5f7;
    color: #37474f;
    display: block;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    margin: 0 0 18px 0;
    padding: 18px 0;
}
.form-control[readonly] {
    background-color: #fff;
    opacity: 1;
}
.form-label{
    color: #37474f;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
.back-btn{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    /* position: absolute; */
    left: 0;
    padding: 2px 10px;
    cursor: pointer;
}
.pop-up-heading{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.modal-header{
    border:0px !important;
}
.autocomplete{width:80%;text-align:center;margin:0px auto 15px;position:relative;display:table; color:#becbd4;}
/* .autocomplete.search{position:relative;}
.autocomplete.search:before{width:44px;height:41px;content:"";position:absolute;background:#1596fe;z-index:9;left:0;}
.autocomplete .react-autosuggest__input{background:none;}
.autocomplete .react-autosuggest__container{z-index:99;} */
.autocomplete h4{border-bottom:solid #becbd4 1px;margin-bottom:10px;}
.autocomplete h4 span{width:auto;margin:0 auto;padding:4px 20px;border-radius:25px;position:relative;font-size:14px;border:solid #becbd4 1px;top:10px;background:#fff;}


.textinput{height:58px;margin:5px 0;position:relative;width:100%;}
.textinput input,.textinput label{cursor:text;font-size:1.5em;padding:19px 1% 15px 1%;position:absolute;transition:all 0.15s ease;width:92%;left:4%;text-align:center;font-size:14px;}
/* .textinput input{border:solid #D2D2D2 1px;line-height:10px;color:#37474f;} */
/* .textinput label{color:#BCB9B8;padding:17px 1%;cursor:pointer;} */
/* .textinput input.filled ~ label, .textinput input:focus ~ label{} */
/* .textinput input.filled ~ label{color:rgba(55,71,79,0.6);font-size:10px;font-weight:500;position:absolute;text-transform:uppercase;top:-10px;} */
/* .textinput input[type="text"].filled, .textinput input[type="email"].filled:valid{cursor:pointer;background:#fff;padding:24px 1% 7px 1%;font-size:16px;font-weight:500;border:solid #2ecc71 1px;text-transform:capitalize;} */
/* .textinput input[type="text"].filled ~label:after, .textinput input[type="email"].filled:valid ~label:after{color:#007932;content:"\f058";display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:3em;text-rendering:auto;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;position:absolute;top:0.3em;right:0.3em;transform:translate(0, 0);display:none;} */
/* .select-box{width:96%;position:relative;} */

/* Collaps */
.card {
    margin-bottom: 15px;
}

.icon-action {
    margin-top: 5px;
    float: right;
    font-size: 80%;
    color: darkcyan;
}

.list-group-item .title {
    margin-top: 5px;
    margin-bottom: 12px;
    font-weight: 600;
}
.city-card-header{
    background: #fff;
}
.city-card-tittle{
    color: darkcyan;
}
.manufacturer-text{
    font-size: 14px !important;
}
.manufacturer-btn:hover{
    color: darkcyan !important;
    /* box-shadow: #222 0.1em 0.1em 1em;    */
}

/*  */
  .profile-pic {
    -webkit-filter: grayscale(1);
    filter: grayscale(0.9);
    transition: filter 0.3s, box-shadow 0.3s;
    -webkit-transition: filter 0.3s, -webkit-filter 0.3s, box-shadow 0.3s;
  }

  .profile-pic:hover {
    /* box-shadow: #222 0.2em 0.2em 1em; */
    
    -webkit-filter: none !important;
    filter: none !important;
    
    transition: none !important;
    -webkit-transition: none !important;
  }
  .manufacturer-card{
    box-shadow: #222 0.2em 0.2em 1em;   
  }
.modal{
    padding: 0px !important;
}
.mob-search{
    width: 94%;
}
.clr-dark{
    color: darkcyan;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

.border-hover :hover{
    border: 1px solid darkcyan !important;
}

  /* Media Queries */
  @media screen and (max-width: 480px) {
  .modal-content{
      height: unset !important;
  }
  .profile-pic {
    display: none;
  }
  .manufacturer-btn{
    color: darkcyan;
    border-color: darkcyan; 
    width: 45%;
    margin: 5px !important;
  }
  .model-btn{
      width: 100%;
  }
  .model-div{
    width:50%;
    padding: 2px;
  }
  .mob-view-icon{
      display: none !important;
  }
  .mb-p-0{
      padding: 0px !important;
  }
  .mb-m-0{
      margin:0px !important;
  }
  .mob-search{
    width: 87%;
}
.mob-shodow{
    box-shadow:none !important;
}

  }