
<div class="container-fluid">
  <div class="container mb-p-0">
      <div class="col-sm-12 row mb-p-0 mb-m-0">
          <div class="col-sm-5 mb-p-0">
            <div class="col-sm-12 p-3 mb-p-0" id="Prequote">
                <div class="mob-shodow shadow-lg bg-white rounded p-3">
                    <div class="preqoute-field  mh600 fadeIn animated5">
                          <form [formGroup]="quoteForm">
                            <h2 class="card-heading">Your Vehicle Details</h2>
                            <div class="form-group">
                              <label class="form-label" for="field-1">Select city & RTO:</label>
                              <input type="text" id="field-1" class="form-control p-4 pointer clr-dark"  [style.border]="(bikeCity != '') ? '1px solid darkcyan' : ''" formControlName="city" data-toggle="modal" data-target="#selectcity" placeholder="Select city & RTO" readonly>
                            </div>
                            <div class="form-group">
                              <label class="form-label"  for="field-2">Manufacturer:</label>
                              <input type="text" class="form-control p-4 pointer clr-dark" [style.border]="bikeManufacturer != '' ? '1px solid darkcyan' : ''" formControlName="manufacturer" data-toggle="modal" data-target="#selectManufacturer" placeholder="Manufacturer" id="field-2" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label"  for="field-3">Model :</label>
                                <input type="text" class="form-control p-4 pointer clr-dark" [style.border]="bikeModel != '' ? '1px solid darkcyan' : ''" formControlName="model" data-toggle="modal" data-target="#selectModel" placeholder="Model & Variant" id="field-3" readonly>
                            </div>
                            <div class="form-group">
                              <label class="form-label"  for="field-3">Variant:</label>
                              <input type="text" class="form-control p-4 pointer clr-dark" [style.border]="bikeVarient != '' ? '1px solid darkcyan' : ''" formControlName="varient" data-toggle="modal" data-target="#selectVarient" placeholder="Model & Variant" id="field-5" readonly>
                            </div>
                            <div class="form-group">
                                <label class="form-label" for="field-4">Registration Year:</label>
                                <input type="text" class="form-control p-4 pointer clr-dark" [style.border]="bikeRegistrationYear != '' ? '1px solid darkcyan' : ''" formControlName="registrationYear" data-toggle="modal" data-target="#selectYear" placeholder="Registration Year" id="field-4" readonly>
                            </div>
                            <div class="form-group text-center">
                              <button type="submit" class="btn btn-outline-success m-auto" (click)="setInputValues()" routerLink="/two-wheeler/two-wheeler-plans" >View Quote</button>
                              <!-- routerLink="/two-wheeler-plans" -->
                            </div>
                          </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-7">
          <div class="col-sm-11 m-auto p-4" style="height: 100%;">
            <div  style="height: 100%;display: flex;">
              <h5 class="m-auto border p-3" style="color: #808080e0;border:1px solid darkcyan !important;font-weight: 300;">Please select the insurer for your previous policy in the left panel, to view your quotes. In case you don’t remember your previous insurer, or don’t have your previous insurance document.
              </h5>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>


<!-- select city popup -->
<div class="modal fade" id="selectcity" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <a class="back-btn" data-dismiss="modal" aria-label="Close"><span></span> < Back</a>
        <div class="col-sm-10 text-center">
            <h3 class="pop-up-heading">Select City &amp; RTO</h3>
        </div>
        <button type="button" id="selectCityRTOClose" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="autocomplete"><h4><span>Start by selecting a city below</span></h4></div>
          <div class="col-sm-12">
              <div class="col-sm-8 m-auto border row" style="padding:0px">
                  <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px" placeholder="search city">
                  <i class="fa fa-search my-auto pointer" aria-hidden="true" style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
              </div>
             <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->
            <div id="accordion" >
              <div class="card col-sm-6 float-left" style="border:0px !important" *ngFor="let data of cityArr | slice:0:16;let ind = index">
                <div class="card-header city-card-header border rounded pointer" style="padding: 10px 20px;border:1px solid darkcyan !important;" id="heading_{{ind}}"  data-toggle="collapse" [attr.data-target]="'#test' + ind" aria-expanded="true" aria-controls="collapseOne{{ind}}">
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                      {{data['TXT_RTO_LOCATION_DESC']}}
                    </a>
                    <i class="icon-action fa fa-chevron-down"></i>
                  </h6>
                </div>

                <div [attr.id]="'test' + ind" [ngClass]="bikeCity == data['NUM_REGISTRATION_CODE'] ? 'show' : ''" class="collapse" aria-labelledby="heading_{{ind}}" data-parent="#accordion">
                  <div class="card card-body row" style="display: block;display: contents;">
                    <div class="btn btn-outline-success m-2" [ngClass]="bikeCity == data['NUM_REGISTRATION_CODE'] ? 'bg-success text-white' : 'btn-outline-success'" style="width: max-content;" (click)="addCity(data,i)">
                      <h5 class="m-0" style="width: max-content;font-size: 14px;">{{data['NUM_REGISTRATION_CODE']}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
    </div>
  </div>
</div>



<!-- select city popup -->
<div class="modal fade" id="selectManufacturer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <a class="back-btn" data-dismiss="modal" aria-label="Close"><span></span>< Back</a>
          <div class="col-sm-10 text-center">
              <h3 class="pop-up-heading">Select a Manufacturer</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="autocomplete"><h4><span>select a Manufacturer below</span></h4></div>
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border  row" style="padding:0px">
                <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px" placeholder="search city">
                <i class="fa fa-search my-auto pointer" aria-hidden="true" style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
           <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->
            <div class="col-sm-10 m-auto row">
              <button class="btn col-sm-3 my-1 mx-4 p-1 pointer text-center manufacturer-btn border-hover" [ngClass]="bikeManufacturer == data['MANUFACTURER'] ? 'bg-primary text-white' : 'btn-outline-primary'" data-dismiss="modal" aria-label="Close" *ngFor="let data of manufacturerArr | slice:0:16;let i=index;"  (click)="addManufacturer(data,i)">
                <!-- <img class="profile-pic border rounded" src="{{data['url']}}" style="height: 75px;width: 100%;"> -->
                <span class="text-center manufacturer-text">{{data['MANUFACTURER']}}</span>
              </button>
              <div class="col-sm-12 mt-2">
                <button class="p-2 col-sm-12 border text-center btn-outline-success pointer" style="border-radius:25px">
                  <span>Others</span>
                </button>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
    </div>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="selectModel" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <a class="back-btn" data-dismiss="modal" aria-label="Close"><span></span>< Back</a>
          <div class="col-sm-10 text-center">
              <h3 class="pop-up-heading">Select a Model</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="autocomplete"><h4><span>Select a Model </span></h4></div>
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
                <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px" placeholder="search city">
                <i class="fa fa-search my-auto pointer" aria-hidden="true" style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
           <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->
            <div class="row">
              <!-- <div class="card col-sm-4 model-div" style="border:0px !important" *ngFor="let data of bikeModals;let ind = index">
                <button class="card-header city-card-header border rounded pointer model-btn"  data-dismiss="modal" aria-label="Close" (click)="addBikeModals(data,i)" style="padding: 10px 20px;border:1px solid darkcyan !important;" >
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                      {{data['title']}}
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button>
              </div> -->
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important" *ngFor="let data of bikeModalsArr | slice:0:24;let ind = index">
                <!-- <button class="card-header btn city-card-header border btn-outline-primary pointer"
                  style="padding: 10px 20px;" id="heading_{{ind}}"
                  (click)="addCarModals(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['MODEL']}}
                    </a>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary" [ngClass]="bikeModel == data['MODEL'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addBikeModals(data,ind)" data-dismiss="modal" aria-label="Close"> {{data['MODEL']}}</button>
              </div>
              <div class="col-sm-12">
                <button class="card-header city-card-header border rounded pointer model-btn col-sm-12 m-auto" style="padding: 10px 20px" >
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                     OTHER
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Modal Variant -->
<div class="modal fade" id="selectVarient" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <a class="back-btn" data-dismiss="modal" aria-label="Close"><span></span>< Back</a>
          <div class="col-sm-10 text-center">
              <h3 class="pop-up-heading">Select a Variant</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="autocomplete"><h4><span>Select a Variant</span></h4></div>
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
                <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px" placeholder="search city">
                <i class="fa fa-search my-auto pointer" aria-hidden="true" style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
           <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->
            <div class="row">
              <!-- <div class="card col-sm-4 model-div" style="border:0px !important" *ngFor="let data of bikeModals;let ind = index">
                <button class="card-header city-card-header border rounded pointer model-btn"  data-dismiss="modal" aria-label="Close" (click)="addBikeModals(data,i)" style="padding: 10px 20px;border:1px solid darkcyan !important;" >
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                      {{data['title']}}
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button>
              </div> -->
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important" *ngFor="let data of bikeVarientArr | slice:0:24;let ind = index">
                <!-- <button class="card-header btn city-card-header border btn-outline-primary pointer"
                  style="padding: 10px 20px;" id="heading_{{ind}}"
                  (click)="addCarModals(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['MODEL']}}
                    </a>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary" [ngClass]="bikeVarient == data['VARIANT'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addBikeVarient(data,ind)" data-dismiss="modal" aria-label="Close">
                  <h6>{{data['VARIANT']}}</h6>
                  <h6>{{data['FUEL']}}</h6>
                </button>
                <!-- <button type="button" class="btn btn-outline-primary" [ngClass]="bikeVarient == data['VARIENT'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addBikeVarient(data,ind)"> {{data['VARIANT']}}</button> -->
              </div>
              <div class="col-sm-12">
                <button class="card-header city-card-header border rounded pointer model-btn col-sm-12 m-auto" style="padding: 10px 20px" >
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                     OTHER
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
    </div>
  </div>
</div>

<!-- Select Year -->
<div class="modal fade" id="selectYear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
          <a class="back-btn" data-dismiss="modal" aria-label="Close"><span></span>< Back</a>
          <div class="col-sm-10 text-center">
              <h3 class="pop-up-heading">Select Year</h3>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <div class="autocomplete"><h4><span>Select a Year</span></h4></div>
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
                <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px" placeholder="search city">
                <i class="fa fa-search my-auto pointer" aria-hidden="true" style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
           <!-- Search form -->
        </div>
          <div class="col-sm-12 pt-4">
            <!--  -->
            <div class="row">
              <div class="card col-sm-4 model-div" style="border:0px !important" *ngFor="let data of bikeYear;let ind = index">
                <!-- <button class="btn city-card-header border rounded pointer model-btn" data-dismiss="modal" aria-label="Close" (click)="addBikeYear(data,i)"  style="padding: 10px 20px;border:1px solid darkcyan !important;" >
                  <h6 class="mb-0">
                    <a class="city-card-tittle" >
                      {{data['year']}}
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary" [ngClass]="bikeYear == data['year'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addBikeYear(data,i)" data-dismiss="modal" aria-label="Close" >
                  {{data['year']}}
                </button>
              </div>
              <div class="col-sm-12">
                <button class="card-header city-card-header border rounded pointer model-btn col-sm-12 m-auto" style="padding: 10px 20px" >
                  <h6 class="mb-0">
                    <a class="pointer city-card-tittle" >
                     OTHER
                    </a>
                    <i class="icon-action fa fa-chevron-down mob-view-icon"></i>
                  </h6>
                </button>
              </div>
            </div>
            <!--  -->
          </div>
        </div>
    </div>
  </div>
</div>
