<main class="py-5">
	<div class="container">
		<div class="carousel slide" id="main-carousel" data-ride="carousel">
			
			<!-- <a href="#main-carousel" class="carousel-control-prev" data-slide="prev">
				<span class="carousel-control-prev-icon"></span>
				<span class="sr-only" aria-hidden="true">Prev</span>
			</a>
			<a href="#main-carousel" class="carousel-control-next" data-slide="next">
				<span class="carousel-control-next-icon"></span>
				<span class="sr-only" aria-hidden="true">Next</span>
			</a> -->
			<div class="carousel-inner">
				<div class="carousel-item active">
					<div class="card d-block p-3 shadow-none bg-light rounded" style="border-radius: 10px;">
                        
                        <div class="card-body" class="col-sm-10 m-auto">
                          <p class="card-text"> "I have purchased health insurance policy from Policy Planner, Their positive response and effective actions changed my opinion of the entire insurance segment. Hope they keep it up! Good service.!!!
                            <br>Thank you for letting me work on this masterpiece. One of my favorite people."</p>
                            <h4 class="card-title">John Doe</h4>
                            <h6 class="card-label">CEO &amp; Founder</h6>
                        </div>
                      </div>
				</div>
				<div class="carousel-item">
					<div class="card d-block p-3 shadow-none bg-light rounded" style="border-radius: 10px;">
                        
                        <div class="card-body" class="col-sm-10 m-auto">
                          <p class="card-text">"I am a first time online buyer but got my term plan very easily The website is easy to use you don't have to put your mobile no. email id  for quotation is so nice I recommend you cover your self with term plan.It's simple online term plan are very cheap Thanks."
                            </p>
                            <h4 class="card-title">Pravin Mudliyar</h4>
                            <h6 class="card-label">Designer</h6>
                        </div>
                      </div>
				</div>
				<div class="carousel-item">
					<div class="card d-block p-3 shadow-none bg-light rounded" style="border-radius: 10px;">
                        
                        <div class="card-body" class="col-sm-10 m-auto">
                          <p class="card-text">"I use this website policy planner.com it seems it's very simple and very easy to use also they have with no asking of your mobile numbers email ids and your name also in another website is asking like that so be a always afraid to share details so they called as so many times and just fed up of so I thank for  to come up with such a good idea. "
                        </p>
                            <h4 class="card-title">Rani</h4>
                            <h6 class="card-label">Store Owner</h6>
                        </div>
                      </div>
				</div>
				<div class="carousel-item">
					<div class="card d-block p-3 shadow-none bg-light rounded" style="border-radius: 10px;">
                        
                        <div class="card-body" class="col-sm-10 m-auto">
                          <p class="card-text">"Best investment plans available with policy planner,Good Employee support, Plans explained in detail I am happy to purchase investment plan from policy planner."
                            </p>
                            <h4 class="card-title">Niranjan Kulkarni</h4>
                            <h6 class="card-label">Freelancer</h6>
                        </div>
                      </div>
				</div>
			</div><!-- /.carousel-inner -->
			<ol class="carousel-indicators my-5">
				<li data-target="#main-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#main-carousel" data-slide-to="1"></li>
				<li data-target="#main-carousel" data-slide-to="2"></li>
				<li data-target="#main-carousel" data-slide-to="3"></li>
			</ol><!-- /.carousel-indicators -->
			
		</div><!-- /.carousel -->
	</div><!-- /.container -->