.carousel-indicators li {
    background-color: #000;
}
.carousel-indicators{
 position: inherit;
}
.card-text{
    font-style: italic;
}
.card-title{
    margin-bottom: .75rem;
    text-align: end;
    font-weight: 600;
}
.card-label{
    font-size: 14px;
    color: #999;
    margin: 0 0 15px 0;
    text-align: end;
    /* margin-left: 140px; */
}