<div class="container">
  <section>
      <div class="container">
        <div class="col-sm-12">
          <h2 class="card-heading">Select Your Vehicle Details</h2>
        </div>
        <div class="col-sm-12 py-2">
          <form [formGroup]="quoteForm">
            <div class="row">
              <div class="col">
                <label for="formGroupExampleInput2"><strong>Select city & RTO:</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="city" placeholder="city & RTO" data-toggle="modal" data-target="#staticBackdrop">
              </div>
              <div class="col">
                <label for="formGroupExampleInput2"><strong>Manufacturer :</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="manufacturer" placeholder="manufacturer" data-toggle="modal" data-target="#staticBackdrop">
              </div>
              <div class="col">
                <label for="formGroupExampleInput2"><strong>Model :</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="model" placeholder="model" data-toggle="modal" data-target="#staticBackdrop">
              </div>
              <div class="col">
                <label for="formGroupExampleInput2"><strong>Varient :</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="varient" placeholder="varient" data-toggle="modal" data-target="#staticBackdrop">
              </div>
              <div class="col">
                <label for="formGroupExampleInput2"><strong>Registration Year :</strong></label>
                <input type="text" class="form-control" id="formGroupExampleInput2" formControlName="registrationYear" placeholder="year" data-toggle="modal" data-target="#staticBackdrop">
              </div>
            </div>
          </form>
        </div>
      </div>
  </section>
</div>

<div class="modal custom fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <section *ngIf="getDetailsMode == 1">
    <div class="modal-content">
      <!-- <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div> -->
      <div class="modal-body pb-5 pt-0 px-0">
        <div class="col-sm-12 bg-light p-3">
          <div class="text-center">
            <h3 class="pop-up-heading">Select City &amp; RTO</h3>
          </div>
        </div>
      </div>
    </div>
    </section>
  </div>
</div>
