/* .modal-content{
  bottom: 0px;
  position: fixed;
  left: 0px;
  height: 50%;
} */

.modal.custom .modal-dialog {
  width:100%;
  position:fixed;
  bottom:0;
  margin:0;
  left: 0;
  max-width: 100%;
  max-height: 65%;
  overflow-y: auto;
}
