<header id="header" class="navbar-white bg-white fixed-top" style="background-color:#ffff;box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -40px rgba(160, 143, 162, 0.6);">
  <div id="topbar" style="background: #354052;">
    <div class="container">
      <div class="social-links">
          <a href="./about-us" class="" style="margin-top: 12px;color:rgba(255, 255, 255, 0.86);;"> <i class="fa fa-info-circle" style="color:darkorange"></i> About Us</a>
          <a href="./blogs" class="" style="margin-top: 12px;color:rgba(255, 255, 255, 0.86);;"> <i class="fa fa-rss" style="color:darkorange"></i> Blogs</a>
          <a href="./career.php" class="" style="margin-top: 12px;color:rgba(255, 255, 255, 0.86);;"> <i class="fa fa-briefcase" style="color:darkorange"></i> We are hiring</a>
          <a href="tel: 18001200771" class="" style="color:rgba(255, 255, 255, 0.86);;"><i class="fa fa-phone" style="color:green"></i>  18001200771 / 7798612223</a>
        </div>
    </div>
  </div> 
  <div class="container">
    <nav class="navbar navbar-expand-lg navbar-white bg-white mobile-nav-toggle">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <a class="" href="https://www.policyplanner.com/"> <img src="https://www.policyplanner.com/images/logo.png" alt="" style="width: 70%;
            text-align: center;" class="img-fluid"></a>
        <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <!-- <button type="button" class="mobile-nav-toggle d-lg-none" style="border:0px !important;background:#fff" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> -->
          <svg width='30px' style="fill: darkcyan;" height='30px' viewBox = "0 0 58 58" class="mobile-nav-toggle d-lg-none" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" >
            <app-get-svg-icon type="toggle"></app-get-svg-icon>
          </svg>
        <!-- </button> -->
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav col-sm-12">
            <li class="nav-item dropdown m-auto">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Health Insurance
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="https://policyplanner.com/health-insurance/individual-health-insurance.php">Individual Plans</a>
              <a class="dropdown-item" href="https://policyplanner.com/health-insurance/family-health-insurance.php">Family Floaters Plans</a>
              <a class="dropdown-item" href="https://policyplanner.com/health-insurance/senior-citizen-health-insurance.php">Senior Citizen Plans</a>
              <a class="dropdown-item" href="https://policyplanner.com/health-insurance/health-insurance-calculator.php">Top Up &amp; Super Top Up Plan</a>
              <a class="dropdown-item heighlight" href="https://policyplanner.com/corona-kawach.php"><span class="blinking oval">Corona Kawach Plans</span></a>
              </div>
            </li>
            <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Life Insurance
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/life-insurance/term-insurance.php">Life Insurance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/life-insurance/term-insurance.php">Term Insurance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/child-plans.php">Child Plan</a>
                    <a class="dropdown-item" href="https://policyplanner.com/invesment-plans.php">Investment Plans</a>
                    <a class="dropdown-item" href="https://policyplanner.com/retirement-plans.php">Pension Plans</a>
                    <a class="dropdown-item heighlight" href="https://policyplanner.com/life-insurance/ulip-plans.php">ULIP Plans</a>
                </div>
              </li>
              <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Motor Insurance
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/motor-insurance/car-insurance.php">Car Insurance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/motor-insurance/two-wheeler-insurance.php">Two Wheeler Insurance</a>
                </div>
              </li>
              <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Travel Insurance
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/travel-insurance.php">Travel Insurance</a>
                </div>
              </li>
              <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Other
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/house-insurance.php">Home Insurance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/group-insurance.php">Group Insurance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/corporate-insurance.php">Corporate Insurance</a>
                </div>
              </li>
              <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Videos
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/video-gallery.php">Insurance Video Gallery</a>
                </div>
              </li>
              <li class="nav-item dropdown m-auto">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Support
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="https://policyplanner.com/about-us.php">About Us</a>
                    <a class="dropdown-item" href="https://policyplanner.com/contact-us.php">Contact Us</a>
                    <a class="dropdown-item" href="https://policyplanner.com/terms-conditions.php">Terms &amp; Conditions</a>
                    <a class="dropdown-item" href="https://policyplanner.com/claim.php">Free Claim Assistance</a>
                    <a class="dropdown-item" href="https://policyplanner.com/blogs/">Blog</a> 
                </div>
              </li>
          </ul>
        </div>
      </nav>
   </div>

</header>