@media all and (min-width: 992px) {
    .navbar .nav-item .dropdown-menu{ display: none; }
    .navbar .nav-item:hover .nav-link{ color: darkcyan;  }
    .navbar .nav-item:hover .dropdown-menu{ display: block; }
    .navbar .nav-item .dropdown-menu{ margin-top:0; }
  }
  .dropdown-toggle::after { 
    content: none; 
}

.nav-link,.dropdown-item {
    font-size: 14px;
    color: #413e66;
    font-weight: 600;
}
.dropdown-menu{
    border:0px !important;
    box-shadow: 0 5px 20px 0 rgba(0,0,0,.2), 0 13px 24px -40px rgba(160, 143, 162, 0.6);
}
.dropdown-item:hover{
    color: darkcyan;
}
.nav-link:hover{
    color: darkcyan !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #413e66;
}
.heighlight{
    background: #1155ab;
    /* padding: 10px; */
    animation:blinkingText 1.2s infinite;
}

#topbar {
    padding: 0 0 10px 0;
    font-size: 14px;
    transition: all 0.5s;
  }
  
  #topbar .social-links {
    text-align: right;
  }
  
  #topbar .social-links a {
    color: #535074;
    padding: 4px 12px;
    display: inline-block;
    line-height: 1px;
  }
  
  #topbar .social-links a:hover {
    color: #1bb1dc;
  }
  
  #topbar .social-links a:first-child {
    border-left: 0;
  }
  button:active {
    outline: none;
    border: none;
}
  
@keyframes blinkingText{
    0%{     color: darkcyan;    }
    49%{    color: darkcyan; }
    60%{    color: transparent; }
    99%{    color:transparent;  }
    100%{   color: #ef7435;    }
}
@media (max-width: 992px) {
    .navbar-collapse {
        position: fixed;
        top: 57px;
        left: 0;
        background: #fff;
        padding-left: 15px;
        padding-right: 15px;
        padding-top: 10px;
        padding-bottom: 15px;
        width: 75%;
        height: 100%;
    }

    .navbar-collapse.collapsing {
        left: -75%;
        transition: height 0s ease;
    }

    .navbar-collapse.show {
        left: 0;
        transition: left 300ms ease-in-out;
    }

    .navbar-toggler.collapsed ~ .navbar-collapse {
        transition: left 500ms ease-in-out;
    }
    .navbar-toggler {
        /* background-color: #0000005c; */
    }
    .topbar{
        display: none;
    }
    #topbar{
        display: none !important;
    }
    .m-auto{
        margin:0px !important
    }
    
.dropdown-item {
    padding-top: 10px;
}
}