@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-dropdowns/styles/material.css';
@import '../node_modules/@syncfusion/ej2-inputs/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-lists/styles/material.css';
@import '../node_modules/@syncfusion/ej2-angular-dropdowns/styles/material.css';
/* You can add global styles to this file, and also import other style files */



*{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif ;
  }
  #clients {
      padding: 30px 0;
    }
    
    #clients img {
      max-width: 110%;
      
      transition: 0.3s;
      padding: 6px 24px;
    }
    
    #clients img:hover {
      opacity: 1;
    }
    
    #clients .owl-nav,
    #clients .owl-dots {
      margin-top: 5px;
      text-align: center;
    }
    
    #clients .owl-dot {
      display: inline-block;
      margin: 0 5px;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: #ddd;
    }
    
    #clients .owl-dot.active {
      background-color: #1bb1dc;
    }
    
    
  #faq {
      padding: 60px 0;
      overflow: hidden;
    }
    
    #faq #faq-list {
      padding: 0;
      list-style: none;
    }
    
    #faq #faq-list li {
      border-bottom: 1px solid #ebebeb;
    }
    
    #faq #faq-list a {
      padding: 22px 0;
      display: block;
      position: relative;
      font-family: "Montserrat", sans-serif;
      font-size: 20px;
      line-height: 1;
      font-weight: 400;
      padding-right: 20px;
    }
    
    #faq #faq-list i {
      font-size: 24px;
      position: absolute;
      right: 0;
      top: 20px;
    }
    
    #faq #faq-list p {
      margin-bottom: 20px;
    }
    
    #faq #faq-list a.collapse {
      color: #1bb1dc;
    }
    
    #faq #faq-list a.collapsed {
      color: #000;
    }
    
    #faq #faq-list a.collapsed i::before {
      content: "\f2c7" !important;
    }
    a{
        text-decoration: none !important;
    }
    
    /* footer */
    #footer {
      padding: 0 0 0 0;
      font-size: 14px;
      background: #fff;
    }
    
    #footer .footer-top {
      padding: 30px 0 30px 0;
      background: #f5f8fd;
    }
    
    #footer .footer-top .footer-info {
      margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-info h3 {
      font-size: 34px;
      margin: 0 0 20px 0;
      padding: 2px 0 2px 0;
      line-height: 1;
      font-family: "Montserrat", sans-serif;
      color: #413e66;
      font-weight: 400;
      letter-spacing: 3px;
      text-transform: uppercase;
    }
    
    #footer .footer-top .footer-info p {
      font-size: 13px;
      line-height: 24px;
      margin-bottom: 0;
      font-family: "Montserrat", sans-serif;
      color: #535074;
    }
    
    #footer .footer-top .social-links a {
      font-size: 18px;
      display: inline-block;
      background: #1bb1dc;
      color: #fff;
      line-height: 1;
      padding: 8px 0;
      margin-right: 4px;
      border-radius: 50%;
      text-align: center;
      width: 36px;
      height: 36px;
      transition: 0.3s;
    }
    
    #footer .footer-top .social-links a:hover {
      background: #0a98c0;
      color: #fff;
    }
    
    #footer .footer-top h4 {
      font-size: 14px;
      font-weight: bold;
      color: #413e66;
      text-transform: uppercase;
      position: relative;
      padding-bottom: 10px;
    }
    
    #footer .footer-top .category-content {
      margin-bottom: 30px;
    }
    
    #footer .footer-top .category-content ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    
    #footer .footer-top .category-content ul li {
      padding: 8px 0;
    }
    
    #footer .footer-top .category-content ul li:first-child {
      padding-top: 0;
    }
    
    #footer .footer-top .category-content ul a {
      color: #696592;
    }
    
    #footer .footer-top .category-content ul a:hover {
      color: #1bb1dc;
    }
    
    #footer .footer-top .footer-contact {
      margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-contact p {
      line-height: 26px;
    }
    
    #footer .footer-top .footer-newsletter {
      margin-bottom: 30px;
    }
    
    #footer .footer-top .footer-newsletter input[type="email"] {
      border: 0;
      padding: 6px 8px;
      width: 65%;
      border: 1px solid #d9dde6;
    }
    
    #footer .footer-top .footer-newsletter input[type="submit"] {
      background: #1bb1dc;
      border: 1px solid #1bb1dc;
      width: 35%;
      padding: 6px 0;
      text-align: center;
      color: #fff;
      transition: 0.3s;
      cursor: pointer;
    }
    
    #footer .footer-top .footer-newsletter input[type="submit"]:hover {
      background: #0a98c0;
    }
    
    #footer .footer-top .form .form-group {
      margin-bottom: 15px;
    }
    
    #footer .footer-top .form #sendmessage {
      color: #fff;
      background: #1bb1dc;
      display: none;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    
    #footer .footer-top .form #errormessage {
      color: #fff;
      display: none;
      background: red;
      text-align: center;
      padding: 15px;
      font-weight: 600;
      margin-bottom: 15px;
    }
    
    #footer .footer-top .form #sendmessage.show,
    #footer .footer-top .form #errormessage.show,
    #footer .footer-top .form .show {
      display: block;
    }
    
    #footer .footer-top .form .validation {
      color: red;
      display: none;
      margin: 0 0 20px;
      font-weight: 400;
      font-size: 13px;
    }
    
    #footer .footer-top .form label {
      color: #413e66;
      font-weight: 500;
    }
    
    #footer .footer-top .form input,
    #footer .footer-top .form textarea {
      border-radius: 0;
      box-shadow: none;
      border: 1px solid #dce1ec;
      font-size: 14px;
    }
    
    #footer .footer-top .form input::-webkit-input-placeholder,
    #footer .footer-top .form textarea::-webkit-input-placeholder {
      color: #a2a0bd;
    }
    
    #footer .footer-top .form input::-moz-placeholder,
    #footer .footer-top .form textarea::-moz-placeholder {
      color: #a2a0bd;
    }
    
    #footer .footer-top .form input:-ms-input-placeholder,
    #footer .footer-top .form textarea:-ms-input-placeholder {
      color: #a2a0bd;
    }
    
    #footer .footer-top .form input::placeholder,
    #footer .footer-top .form textarea::placeholder {
      color: #a2a0bd;
    }
    
    #footer .footer-top .form button[type="submit"] {
      background: #1bb1dc;
      border: 0;
      border-radius: 3px;
      padding: 8px 30px;
      color: #fff;
      transition: 0.3s;
    }
    
    #footer .footer-top .form button[type="submit"]:hover {
      background: #0a98c0;
      cursor: pointer;
    }
    
    #footer .copyright {
      text-align: center;
      padding-top: 30px;
      color: #535074;
      font-size: 15px;
    }
    
    #footer .credits {
      text-align: center;
      font-size: 14px;
      padding-top: 4px;
      color: #8582a8;
    }
    
    #footer .credits a {
      color: #1bb1dc;
    }
    
    #footer .credits a:hover {
      color: #0a98c0;
    }
  
    .grouptext{
      /* width: 90%;
      height: 1px;
      z-index: 1;
      background-color: #e4e4e4;
      content: "";
      display: block;
      position: absolute;
      top: 100%;
      margin: 0 auto;
      left: 0;
      right: 0; */
      top: -7px;
  }
  .sub-heading-mob {
    width: 115px;
    display: block;
    z-index: 2;
    text-align: center;
    background: #f3f3f3;
    color: #616161;
    border-radius: 4px;
    margin: 0 auto;
    /* position: absolute; */
    left: 0;
    right: 0;
    /* padding: 2px 5px; */
    top: -7px;
    font-size: 10px;
  
  }
  .pointer{
    cursor: pointer !important;
  }

  .c-remove .clear-all{
    top:25% !important;
  }
  .c-angle-down{
    top:25% !important;
  }