.back-btn{
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    /* position: absolute; */
    left: 0;
    padding: 2px 10px;
    cursor: pointer;
}
.pop-up-heading{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}
.city-card-tittle,.fa-chevron-down{
    color: darkcyan;
}

.selected-city{
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin: 0px;
}

.car-brand{
    width: 15%;
}
.mb-w-a{
    width: 33% !important;
}

.f-12{
    font-size: 12px !important;
}
.privacy{font-size:11px;padding:13px 0 10px;text-align:center;color:#546e7a;font-weight:400;}
.privacy a{font-weight:600;}
  /* Media Queries */
  @media screen and (max-width: 480px) {
    .modal-content{
        height: unset !important;
    }
    .profile-pic {
      display: none;
    }
    h6{
        font-size: 12px !important;
    }
    .manufacturer-btn{
      color: darkcyan;
      border-color: darkcyan; 
      width: 45%;
      margin: 5px !important;
    }
    .model-btn{
        width: 100%;
    }
    .model-div{
      width:50%;
      padding: 2px;
    }
    .mob-view-icon{
        display: none !important;
    }
    .mb-p-0{
        padding: 0px !important;
    }
    .mb-m-0{
        margin:0px !important;
    }
    .mob-search{
      width: 87%;
  }
  .mob-shodow{
      box-shadow:none !important;
  }
  .selected-city{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0px;
    }

    .car-brand{
        width: 38%;
    }
    .mb-w-a{
        width: 50% !important;
    }

    .mb-fa-icon{
        display: none !important
    };
    .profile-pic{
        display: none !important;
    }
}