<div class="container-fluid">
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 1">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Select City &amp; RTO</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <div class="modal-header border border-success " *ngIf="carCity !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your City</h6>
            <h3 class="selected-city text-white">{{carCity}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="text-center">
            <h4><span>Start by selecting a city below</span></h4>
          </div>
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                [(ngModel)]="searchField" (input)="searchPolicy($event)" placeholder="search city">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
            <div id="accordion" class="row col-sm-12 pt-3 mb-m-0" *ngIf="cityArr && cityArr.length !=0">
              <div class="card col-sm-6 my-1" style="border:0px !important" *ngFor="let data of cityArr | slice:0:16;let ind = index">
                <div class="card-header city-card-header border rounded pointer" style="padding: 10px 20px;border:1px solid darkcyan !important;" id="heading_{{ind}}" data-toggle="collapse" [attr.data-target]="'#test' + ind" aria-expanded="true" aria-controls="collapseOne{{ind}}">
                  <h6 class="mb-0" style="    justify-content: space-between;display: flex;">
                    <a class="pointer city-card-tittle">
                      {{data['TXT_RTO_LOCATION_DESC']}}
                    </a>
                    <i class="icon-action fa fa-chevron-down"></i>
                  </h6>
                </div>

                <div [attr.id]="'test' + ind" [ngClass]="carCity == data['NUM_REGISTRATION_CODE'] ? 'show' : ''" class="collapse" aria-labelledby="heading_{{ind}}"
                  data-parent="#accordion">
                  <div class="card card-body row" style="display: block;display: contents;">
                    <!-- *ngFor="let d of data['data'];let i = index;" -->
                    <div class="btn btn-outline-success m-2" [ngClass]="carCity == data['NUM_REGISTRATION_CODE'] ? 'bg-success text-white' : 'btn-outline-success'" style="width: max-content;" (click)="addCity(data,i)">
                      <h5 class="m-0" style="width: max-content;font-size: 14px;">{{data['NUM_REGISTRATION_CODE']}}</h5>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0" *ngIf="cityArr.length == 0 && !isLoading">
              <div class="card col-sm-12 my-1" style="border:0px !important">
                <hr>
                <h5 class="text-center" style="color:darkred;font-size:600">No data found.</h5>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0 text-center" style="display: block;" *ngIf="cityArr.length == 0 && isLoading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div>
                <span class="" style="color: #007bff;">Please wait while we are processing . . .</span>
              </div>
              
            </div>
          
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 text-center">
            <!-- [disabled]="carCity == ''"  -->
            <button class="btn btn-outline-success col-sm-4" (click)="selectDiv(2)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 2">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Select Car Brand</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <div class="modal-header border border-success " *ngIf="carBrand !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your Car Brand</h6>
            <h3 class="selected-city text-white">{{carBrand}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                placeholder="search car brand" [(ngModel)]="searchFieldBrand" (input)="searchCarBrand($event)">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
            <hr>
            <div class="col-sm-12 pt-3 mb-m-0 mb-p-0 ml-1 row d-flex justify-content-around"
              *ngIf="allVehicaleData.length != 0">
              <button class="btn m-2 p-1 rounded  btn-outline-primary pointer car-brand" [ngClass]="carBrand == data['MANUFACTURER'] ? 'bg-primary text-white' : 'btn-outline-primary'"
                *ngFor="let data of allVehicaleData | slice:0:24" (click)="addManufacturer(data)">
                <!-- <img src="./assets/card.png" title="" style="width: 50%;height: 35px;"
                  alt="new india general insurance company" class="op profile-pic"> -->
                <!-- <hr class="profile-pic" style="margin:2px">  -->
                <!-- <svg class="bg-1" width='50px' height='50px' viewBox="0 0 64 64">
                                  <app-get-svg-icon type="car_b"></app-get-svg-icon>
                                </svg>: -->
                <h6 class="text-center my-1">{{data['MANUFACTURER']}}</h6>
              </button>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0" *ngIf="allVehicaleData.length == 0 && !isLoading">
              <div class="card col-sm-12 my-1" style="border:0px !important">
                <hr>
                <h5 class="text-center" style="color:darkred;font-size:600">No data found.</h5>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0 text-center" style="display: block;" *ngIf="allVehicaleData.length == 0 && isLoading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div>
                <span class="" style="color: #007bff;">Please wait while we are processing . . .</span>
              </div>
              
            </div>
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(1)">Back</button>
            <button class="btn btn-outline-success col-sm-4 m-1" [disabled]="carBrand == ''"
              (click)="selectDiv(3)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 3">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Select Car Model</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <div class="modal-header border border-success " *ngIf="carModel !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your Car Model</h6>
            <h3 class="selected-city text-white">{{carModel}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                placeholder="search Car Model"  [(ngModel)]="searchFieldModel" (input)="searchModel($event)">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
            <div id="accordion" class="row col-sm-12 pt-3 ml-1 mb-m-0" *ngIf="carModals.length != 0">
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important"
                *ngFor="let data of carModals | slice:0:24;let ind = index">
                <!-- <button class="card-header btn city-card-header border btn-outline-primary pointer"
                  style="padding: 10px 20px;" id="heading_{{ind}}"
                  (click)="addCarModals(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['MODEL']}}
                    </a>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary" [ngClass]="carModel == data['MODEL'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addCarModals(data)"> {{data['MODEL']}}</button>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0" *ngIf="carModals.length == 0  && !isLoading">
              <div class="card col-sm-12 my-1" style="border:0px !important">
                <hr>
                <h5 class="text-center" style="color:darkred;font-size:600">No data found.</h5>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0 text-center" style="display: block;" *ngIf="carModals.length == 0 && isLoading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div>
                <span class="" style="color: #007bff;">Please wait while we are processing . . .</span>
              </div>
              
            </div>
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(2)">Back</button>
            <button class="btn btn-outline-success col-sm-4 m-1" [disabled]="carModel == ''"
              (click)="selectDiv(4)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 4">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Select Car Variant</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <div class="modal-header border border-success " *ngIf="carVarient !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your Car Variant</h6>
            <h3 class="selected-city text-white">{{carVarient}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                placeholder="Select Car Variant"  [(ngModel)]="searchFieldVariant" (input)="searchVariant($event)">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
            <hr>
            <div id="accordion" class="row col-sm-12 pt-3 ml-1 mb-m-0" *ngIf="carVarientArr.length != 0">
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important"
                *ngFor="let data of carVarientArr | slice:0:16;let ind = index">
                <!-- <button class="card-header btn city-card-header border btn-outline-primary pointer"
                  style="padding: 10px 20px;" id="heading_{{ind}}"
                  (click)="addCarVarient(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['VARIANT']}}
                    </a>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary" [ngClass]="carVarient == data['VARIANT'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addCarVarient(data)" >
                  <h6>{{data['VARIANT']}}</h6>
                  <h6>{{data['FUEL']}}</h6>
                </button>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0" *ngIf="carVarientArr.length == 0  && !isLoading">
              <div class="card col-sm-12 my-1" style="border:0px !important">
                <hr>
                <h5 class="text-center" style="color:darkred;font-size:600">No data found.</h5>
              </div>
            </div>
            <div class="row col-sm-12 pt-3 mb-m-0 text-center" style="display: block;" *ngIf="carVarientArr.length == 0 && isLoading">
              <div class="spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
              <div>
                <span class="" style="color: #007bff;">Please wait while we are processing . . .</span>
              </div>
              
            </div>
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(3)">Back</button>
            <button class="btn btn-outline-success col-sm-4 m-1" [disabled]="carVarient == ''"
              (click)="selectDiv(5)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Not used fuel type display in varient -->
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == -1">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <a class="back-btn"><span></span> Back</a>
          <div class="col-sm-10 text-center">
            <h3 class="pop-up-heading">Select Car Fuel Type</h3>
          </div>
          <a class="back-btn"><span></span> Next </a>
        </div>
        <div class="modal-header border border-success " *ngIf="carFuelType !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your Car Model</h6>
            <h3 class="selected-city text-white">{{carFuelType}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="col-sm-12">
            <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                placeholder="search fuel type">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div>
            <div id="accordion" class="row col-sm-12 pt-3 ml-1 mb-m-0">
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important"
                *ngFor="let data of fuelTypeArr;let ind = index">
                <button class="card-header btn city-card-header border rounded pointer"
                  style="padding: 10px 20px;border:1px solid darkcyan !important;" id="heading_{{ind}}"
                  (click)="addCarFuelType(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['title']}}
                    </a>
                    <!-- <i class="icon-action fa fa-chevron-down mb-fa-icon"></i> -->
                  </h6>
                </button>
              </div>
            </div>
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(3)">Back</button>
            <button class="btn btn-outline-success col-sm-4 m-1" [disabled]="carFuelType == ''"
              (click)="selectDiv(5)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>



  <!--  -->
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 5">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Select Car Year</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <div class="modal-header border border-success " *ngIf="carRegistrationYear !=''"
          style="background-color: #60ca9e !important;">
          <div class="col-sm-12 text-center">
            <h6>Your Selected Year</h6>
            <h3 class="selected-city text-white">{{carRegistrationYear}}</h3>
          </div>
        </div>
        <div class="pt-3">
          <div class="col-sm-12">
            <!-- <div class="col-sm-8 m-auto border row" style="padding:0px">
              <input type="text" class="form-control text-center" style="border:0px !important;padding-right:50px"
                placeholder="Select Year">
              <i class="fa fa-search my-auto pointer" aria-hidden="true"
                style="color:#fff;background: darkgray;padding:11px;position: absolute;right: 0px;"></i>
            </div> -->
            <div id="accordion" class="row col-sm-12 pt-3 ml-1 mb-m-0">
              <div class="card col-sm-4 my-1 mb-w-a" style="border:0px !important"
                *ngFor="let data of carYear;let ind = index">
                <!-- <button class="card-header btn city-card-header border rounded pointer"
                  style="padding: 10px 20px;border:1px solid darkcyan !important;" id="heading_{{ind}}"
                  (click)="addCarYear(data)">
                  <h6 class="mb-0 mb-f">
                    <a class="pointer city-card-tittle">
                      {{data['year']}}
                    </a>
                  </h6>
                </button> -->
                <button type="button" class="btn btn-outline-primary"  [ngClass]="carRegistrationYear == data['year'] ? 'bg-primary text-white' : 'btn-outline-primary'" (click)="addCarYear(data)"> {{data['year']}}  </button>
              </div>
            </div>
            <!-- Search form -->
          </div>
          <div class="col-sm-12 pt-4">
            <!--  -->

            <!--  -->
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(4)">Back</button>
            <button class="btn btn-outline-success col-sm-4 m-1" [disabled]="carRegistrationYear == ''"
              (click)="selectDiv(6)">Next</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  -->
  <div class="container py-4 mb-p-0" *ngIf="quoteMode == 6">
    <div class="col-sm-12 mb-p-0">
      <div class="col-sm-12 shadow-lg bg-white rounded p-0">
        <div class="modal-header bg-light">
          <!-- <a class="back-btn"><span></span> Back</a> -->
          <div class="col-sm-12 text-center">
            <h3 class="pop-up-heading">Please fill your details</h3>
          </div>
          <!-- <a class="back-btn"><span></span> Next </a> -->
        </div>
        <!-- <div class="modal-header border border-success " *ngIf="carRegistrationYear !=''" style="background-color: #60ca9e !important;">
                <div class="col-sm-12 text-center">
                    <h6>Your Selected Year</h6>
                    <h3 class="selected-city text-white" >{{carRegistrationYear}}</h3>
                </div>
            </div> -->
        <!-- <div class="pt-3">
          <div class="col-sm-12">
            <div class="form-group col-sm-6 mx-auto">
              <label for="sel1">Has your current policy expired?</label>
              <select class="form-control" id="sel1">
                <option>Not Expired</option>
                <option>Expired Within 90 Days</option>
                <option>Expired More than 90 Days ago</option>
              </select>
            </div>
            <div class="form-group col-sm-6 mx-auto">
              <label for="sel1">Has your current policy expired?</label>
              <select class="form-control" id="sel1">
                <option>Not Expired</option>
                <option>Expired Within 90 Days</option>
                <option>Expired More than 90 Days ago</option>
              </select>
            </div>
          </div>
          <div class="col-sm-12 pt-4">
          </div>
        </div> -->
        <div class="pt-3">
          <div class="col-sm-12">
            <form [formGroup]="carDetailsForm">
              <div class="form-group">
                <label for="rdate">CAR REGISTRATION DATE <span class="text-danger">*</span></label>
                <input type="date" class="form-control" formControlName="registrationDate" id="rdate" aria-describedby="rdate" placeholder="Enter date">
                <div *ngIf="f.registrationDate.touched && f.registrationDate.invalid" class="text-danger">
                  <div class="f-12" *ngIf="f.registrationDate.errors.required">Date is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="uname">Enter Full Name <span class="text-danger">*</span></label>
                <input type="text" class="form-control" formControlName="clientName" id="uname" aria-describedby="uname" placeholder="Enter full name" (keypress)="commonService.isText($event)">
                <div *ngIf="f.clientName.touched && f.clientName.invalid" class="text-danger">
                  <div class="f-12" *ngIf="f.clientName.errors.required">Name is required.</div>
                </div>
              </div>
              <div class="form-group">
                <label for="email">Enter Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email" formControlName="clientEmail"  placeholder="Enter email" >
                <div *ngIf="f.clientEmail.touched && f.clientEmail.invalid" class="text-danger">
                  <div class="f-12" *ngIf="f.clientEmail.errors.required">Email Address is required.</div>
                  <div class="f-12" *ngIf="f.clientEmail.errors.pattern">Please, enter valid email address.</div>
              </div>
              </div>
              <div class="form-group">
                <label for="mobile">Enter Mobile Number <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="mobile" formControlName="clientMobile" maxlength="10"  placeholder="Enter Mobile number"  (keypress)="commonService.isNumbers($event)" >
                <div *ngIf="f.clientMobile.touched && f.clientMobile.invalid" class="text-danger">
                  <div class="f-12" *ngIf="f.clientMobile.errors.required">Mobile Number is required.</div>
                  <div class="f-12" *ngIf="f.clientMobile.errors.pattern">Please, Enter 10 digit Mobile Number.</div>
              </div>
              </div>
            </form>
          </div>
          <div class="col-sm-12 pt-4">
          </div>
        </div>
        <div class="modal-header border bg-light ">
          <div class="col-sm-12 d-flex justify-content-around">
            <button class="btn btn-outline-success col-sm-4 m-1" (click)="selectDiv(5)">Back</button>
            <button class="btn btn-outline-danger col-sm-4 m-1" [disabled]="carDetailsForm.status == 'INVALID'" (click)="getUserDetails($event)">View Prices</button>
              <!--[disabled]="!f.valid" routerLink="/four-wheeler-plans" -->
          </div>
        </div>
        <div class="privacy">By clicking on "View Prices", you agree to our <a href="#" target="_blank">Privacy Policy</a> &amp; <a href="#" target="_blank">Terms of Use</a></div>
      </div>
    </div>
  </div>
</div>