<div class="container-fluid p-0 py-2">
    <div class="container mt-3 ">
        <div class="col-sm-12 shadow-lg bg-white rounded p-0" style="margin-bottom: 15px;margin-top: 15px;">
            <div class="col-sm-12 mb-mb-30 row p-0 mb-m-0">
                <div class="col-sm-5 mv-tw-img" >
                    <div class="col-md-12 col-lg-12 mobile-view" style="height:100%;background: linear-gradient(182deg,rgb(129, 149, 171) 0%,rgb(163, 190, 150) 100%);border-radius: 10px;color:#ffff;padding: 3%;">
                        <h5 class="title" style="font-weight: 600;">Car1 insurance online</h5>
                        <p class="description" style="font-size: 19px;">
                            </p>
                            <ul>
                                <li>Comprehensive insurance</li>
                                <li>Third party insurance</li>
                                <li>Additional features</li>
                                <li>Depreciation cover</li>


                                </ul>
                        <p></p><br>
                       <div class="" style=""> <img src="./assets/Car-Insurance .jpg" class="i-h mv-tw-img rounded" alt="" style="height: 250px;width: 100%;"></div>


                    </div>
                </div>
                <div class="col-sm-7 mv-tw-main mp-0">
                    <div class="col-sm-12 py-5 h-full mp-0">
                        <div class="col-sm-12 py-3 mb-bg-white" style="background: #f6f7f9;">
                            <h2 class="tw-heading">Save upto <b>80%+ </b> on Two Car Insurance <span></span></h2>
                            <div class="col-sm-12 row my-3 text-center get-quote pr-0 pl-4">
                                <!-- <div class="textinput">
                                    <input type="text" id="rto" name="rto" placeholder="Enter Bike Number:  (eg. DL-10-CB-1234)" >
                                    <label for="rto">Bike Number</label>
                                    <span class="mdl-textfield__error errorMsg"></span>
                                 </div> -->
                                <input type="text" class="col-sm-8 text-center p-3" (keyup)="commonService.formatToMotorNumber($event)" (paste)="commonService.formatToMotorNumber($event)" style="text-transform: uppercase;" [(ngModel)]="carNumber" placeholder="Enter Car Number:  (eg. DL-10-CB-1234)">
                                <button  class="btn btn-quotes col-sm-4" (click)="getQuote()">Get Quote</button>
                                <!-- routerLink="/four-wheeler-get-details" -->
                            </div>
                            <div class="or"><span>or</span></div>
                            <a class="btn-proceed" routerLink="/four-wheeler/four-wheeler-get-details">Proceed without car number</a>
                            <div class="newBike-links">
                                <!-- <button id="renewal" type="button" class="uploadbtn fadeInDown animated7" onclick="tw.UploadButtonClick('upload')">Upload Your RC/Policy</button>
                                <div id="upload" style="display:none">
                                   <div class="overlay" onclick="tw.hide()">	</div>
                                   <div class="overlay-popup slideInRight slideInRightanimated">
                                      <a href="javascript:void(0)" onclick="tw.hide()" class="close"></a>
                                      <iframe class="tw-iframe" src="https://www.policybazaar.com/templates/policybazaar/motor-renewal-internal-tw.php?productid=114" border="0" scrolling="no"></iframe>
                                   </div>
                                </div>
                                <span class="new-Bike fadeInDown animated7"></span> -->
                                <a class="btn-newCar" routerLink="/four-wheeler-get-details"> Brand new Car? Click here</a>
                             </div>
                             <div class="multi_lang text-center"  style="display: none !important;">
                                <a href="#">English</a>
                                <a href="#">हिन्दी</a>
                                <a href="#">தமிழ்</a>
                                <a href="#">తెలుగు</a>
                                <a href="#">ಕನ್ನಡ</a>
                                <a href="#">മലയാളം</a>
                                <a href="#">বাঙলা</a>
                                 <a href="#">मराठी</a>
                                  <a href="#">ଓଡ଼ିଆ</a>
                                   <a href="#">ਪੰਜਾਬੀ</a>
                                <a href="#" class="last-child">ગુજરાતી</a>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
