.more-product{
    font-size: 30px;
    color: #fff;
    margin: revert;
    font-weight: bold;
}
a:hover{
    text-decoration: underline !important;
}
.bg-1:hover{
    fill: blue;
}
@media screen and (max-width: 800px) {
    .mob-view-category{
        text-align: center;
    }
    .more-product{
        font-size: 25px;
        text-align: center;
    }
}