<footer id="footer" class="section-bg">
  <div style="height: 40px;width: 40px;position: fixed;bottom: 30px;right: 20px;">
    <a href="https://web.whatsapp.com/send?phone=+917218069650&amp;text=Hi, I am enquiring about page: https://policyplanner.com/" title="contact on whatsApp" class="float" target="_blank">
      <svg class="bg-1" width='50px' height='50px' viewBox="0 0 512 512" style="" >
        <app-get-svg-icon type="whatsapp"></app-get-svg-icon>
      </svg>
    </a>
  </div>
    <div class="footer-top" style="background-color:#000000;">
      <div class="container">
        <h1 class="more-product">More Products</h1>
        <div class="row">

          <div class="col-lg-12">

            <div class="row">

                <!--<div class="col-sm-3">-->

                <!--  <div class="footer-info">-->
                <!--  <img src="https://www.policyplanner.com/images/logo.png" alt="" style="" class="img-fluid">-->
                <!--    <h6 style="font-weight: 600;margin-top: 4%;" class="footer-color">Policy Planner Insurance Web Aggregator Pvt. Ltd </h6>-->
                <!--    <span style="font-size: 14px;line-height:16px;color:rgba(255, 255, 255, 0.86);;margin-bottom: 0;">Policy Planner Office No. B-03, -->
                <!--    KPCT Mall, Near Vishal Mega Mart,<br> Fatima Nagar, -->
                <!--    Wanawadi, Pune 411013</span>-->
                <!--  </div>-->
                <!--</div>-->

                <div class="col-sm-2 mx-auto p-0 mob-view-category">
                  <div class="category-head">
                    <h4 style="color:#ffff;">Health INSURANCE</h4>
                    </div>
                    <div class="category-content">
                    <ul class="" style="list-style: none;padding: 0;margin: 0;">
                    <li><a href="https://www.policyplanner.com/health-insurance/family-health-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Family Health Insurance</a></li>
                    <li><a href="https://www.policyplanner.com/health-insurance/parents-health-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Parents Health Insurance</a></li>
                    <li><a href="https://www.policyplanner.com/health-insurance/individual-health-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Individual Health Insurance</a></li>
                    <li><a href="https://www.policyplanner.com/health-insurance/maternity-health-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Maternity Health Insurance</a></li>
                    <li><a href="https://www.policyplanner.com/health-insurance/senior-citizen-health-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Senior Citizen Insurance</a></li>
                    </ul>
                  </div>
                  
                  </div>
                  
                  <div class="col-sm-2 mx-auto p-0 mob-view-category">
                    <div class="category-head">
                      <h4 style="color:#ffff;">TERM INSURANCE</h4>
                     </div>
                     <div class="category-content">
                    <ul style="list-style: none;padding: 0;margin: 0;">
                     <li><a href="https://policyplanner.com/insurance-companies-in-india/life-insurance/lic-term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">LIC Term Insurance</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Term Insurance vs ULIP</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Increasing Term Insurance</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Types of Death Covered</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Policy Period </a></li>
                    </ul>
                  </div>
                  </div>
                  
                  <div class="col-sm-2 mx-auto p-0 mob-view-category">
                    <div class="category-head">
                      <h4 style="color:#ffff;">Motor insurance</h4>
                      </div>
                      <div class="category-content">
                      <ul style="list-style: none;padding: 0;margin: 0;">
                        <li><a href="https://www.policyplanner.in/motor-insurance/third-party-two-wheeler-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Third Party Bike Insurance</a></li>
                      <li><a href="https://www.policyplanner.com/motor-insurance/car-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Expired Car Insurance</a></li>
                      <li><a href="https://www.policyplanner.com/motor-insurance/car-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Zero Dep Car Insurance</a></li>
                      <li><a href="https://www.policyplanner.com/motor-insurance/car-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Car Insurance Calculator</a></li>
                      <li><a href="https://www.policyplanner.in/motor-insurance/third-party-car-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Third Party Car Insurance</a></li>
                      </ul>
                    </div>
                  </div>
                  
                  
                  <div class="col-sm-2 mx-auto p-0 mob-view-category">
                    <div class="category-head">
                      <h4 style="color:#ffff;">Travel insurance</h4>
                      </div>
                      <div class="category-content">
                      <ul style="list-style: none;padding: 0;margin: 0;">
                        <li><a href="https://www.policyplanner.com/travel-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Get Travel Insurance</a></li>
                      <li><a href="https://www.policyplanner.com/travel-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Claim Travel Insurance</a></li>
                      <li><a href="https://www.policyplanner.com/travel-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Travel Insurance for Asia</a></li>
                      <li><a href="https://www.policyplanner.com/travel-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Travel Insurance Calculator</a></li>
                      <li><a href="https://www.policyplanner.com/travel-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Multiple Travel Insurance</a></li>
                      </ul>
                    </div>
                </div>
                
                
                 <div class="col-sm-2 mx-auto p-0 mob-view-category">
                  <div class="category-head">
                    <h4 style="color:#ffff;">Invesment Plans</h4>
                     </div>
                     <div class="category-content">
                    <ul style="list-style: none;padding: 0;margin: 0;">
                      <li><a href="https://www.policyplanner.com/investment-plan/mutual-fund-investment-plans.php" style="color:rgba(255, 255, 255, 0.86);;">Mutual Funds</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Life Insurance Companies</a></li>
                     <li><a href="https://www.policyplanner.com/invesment-plans.php" style="color:rgba(255, 255, 255, 0.86);;">ULIP vs Mutual Funs</a></li>
                     <li><a href="https://www.policyplanner.com/invesment-plans.php" style="color:rgba(255, 255, 255, 0.86);;">Types of Invesment Policies</a></li>
                     <li><a href="https://www.policyplanner.com/life-insurance/term-insurance.php" style="color:rgba(255, 255, 255, 0.86);;">Type of Life Insurance</a></li>
                    </ul>
                  </div>
                  </div>

            </div>

          </div>

          <!--<div class="col-lg-6">-->
          <!--    <div class="row">-->
          <!--  <div class="col-sm-2">-->
          <!--        <div class="footer-links">-->
          <!--          <h4>Useful Links</h4>-->
          <!--          <ul>-->
          <!--            <li><a href="#">Home</a></li>-->
          <!--            <li><a href="#">About us</a></li>-->
          <!--            <li><a href="#">Services</a></li>-->
          <!--            <li><a href="#">Terms of service</a></li>-->
          <!--            <li><a href="#">Privacy policy</a></li>-->
          <!--          </ul>-->
          <!--        </div>-->
          <!--        </div>-->
                  
          <!--        <div class="col-sm-2">-->
          <!--        <div class="footer-links">-->
          <!--          <h4>Useful Links</h4>-->
          <!--          <ul>-->
          <!--            <li><a href="#">Home</a></li>-->
          <!--            <li><a href="#">About us</a></li>-->
          <!--            <li><a href="#">Services</a></li>-->
          <!--            <li><a href="#">Terms of service</a></li>-->
          <!--            <li><a href="#">Privacy policy</a></li>-->
          <!--          </ul>-->
          <!--        </div>-->
          <!--        </div>-->
          <!--        <div class="col-sm-2">-->
          <!--        <div class="footer-links">-->
          <!--          <h4>Useful Links</h4>-->
          <!--          <ul>-->
          <!--            <li><a href="#">Home</a></li>-->
          <!--            <li><a href="#">About us</a></li>-->
          <!--            <li><a href="#">Services</a></li>-->
          <!--            <li><a href="#">Terms of service</a></li>-->
          <!--            <li><a href="#">Privacy policy</a></li>-->
          <!--          </ul>-->
          <!--        </div>-->
          <!--        </div>-->
          <!--   </div>-->

          <!--</div>-->

          

        </div>
       

      </div>
    </div>
    
    
    <div class="container-fluid" style="color: #696969;padding: 1%;text-align:center;background: #303030;">
        <div class="row container m-auto">
            
            <div class="col-sm-4" style="float:left!important;margin-top:1%;">
                 <a href="/about-us.php" style="color:rgba(255, 255, 255, 0.86);;">
                              About Us
                          </a> | 
                          <a href="/contact-us.php" style="color:rgba(255, 255, 255, 0.86);;">
                              Contact Us
                          </a> | 
                           <a href="/video-gallery.php" style="color:rgba(255, 255, 255, 0.86);;"> Videos</a> | 
                            <a href="/terms-conditions.php" style="color:rgba(255, 255, 255, 0.86);;">
                              Terms
                          </a> | 
                           <a href="/blogs" style="color:rgba(255, 255, 255, 0.86);;">
                              Blog
                          </a>
                </div>
            
        <div class="col-sm-4">
       <a href="https://www.facebook.com/policyplanner.in/" class="btn btn-just-icon btn-link btn-facebook" style="color:rgba(255, 255, 255, 0.86);;">
          <i class="fa fa-facebook-square fa-2x"></i>
          <!-- <svg class="bg-1" width='35px' height='35px' viewBox = "0 0 512 512" style="" >
            <app-get-svg-icon type="facebook"></app-get-svg-icon>
          </svg> -->
          </a>
            <a href="https://plus.google.com/u/0/109117322283423837726" class="btn btn-just-icon btn-link btn-google" style="color:rgba(255, 255, 255, 0.86);;">
              <i class="fa fa-google-plus fa-2x"></i>
          </a>
            <a href="https://www.youtube.com/channel/UCTZQ_Q1E1wIdtG8RKIpjYJQ/" class="btn btn-just-icon btn-link btn-youtube" style="color:rgba(255, 255, 255, 0.86);;">
              <i class="fa fa-youtube-play fa-2x"></i>
          </a>
            <a href="#pablo" class="btn btn-just-icon btn-link btn-twitter" style="color:rgba(255, 255, 255, 0.86);;">
              <i class="fa fa-twitter fa-2x"></i>
          </a>
        </div>
        <div class="col-sm-4" style="float:right!important;margin-top:1%;">
            <span style="color:rgba(255, 255, 255, 0.86);;">
       ©
        <script>
            document.write(new Date().getFullYear())
        </script>2020, policyplanner.com </span>
        </div>
        
       
        </div>
        
        
        
        
        
              <!--<div class="social-links">-->
              <!--      <a href="#" class="twitter" style="margin-right: 1%;"><i class="fa fa-twitter fa-2x"></i></a>-->
              <!--      <a href="#" class="facebook" style="margin-right: 1%;"><i class="fa fa-facebook fa-2x"></i></a>-->
              <!--      <a href="#" class="instagram" style="margin-right: 1%;"><i class="fa fa-instagram fa-2x"></i></a>-->
              <!--      <a href="#" class="linkedin"><i class="fa fa-linkedin fa-2x"></i></a>-->
              <!--    </div>-->
    </div>
  

    <div class="container-fluid mobileContentView" style="color: #696969;padding: 2%;text-align: center;background: #1D1D1D;">
      <div class="container">
        <div class="copyright" style="margin-bottom: 2%;">
          <h5 style="color:rgba(255, 255, 255, 0.86);;">Payment Methods</h5>
          <div class="row text-center" style="margin-bottom: 2%;">
                <div class="col-sm-12">
                <img src="https://www.policyplanner.com/images/master_card.png" alt="/master_card" style="height: 34px;" class="img-fluid">
                <img src="https://www.policyplanner.com/images/rupay.png" alt="rupay" style="height: 34px;" class="img-fluid">
                <img src="https://www.policyplanner.com/images/visa.png" alt="visa" style="height: 34px;" class="img-fluid">
                <img src="https://www.policyplanner.com/images/net_banking.png" alt="net_banking" style="height: 34px;" class="img-fluid">
                <img src="https://www.policyplanner.com/images/paytm.png" alt="paytm" style="height: 34px;" class="img-fluid">
            </div>
          </div>
          <!-- <div class="row text-center">
            <div class="col-sm-12">
              <img src="https://www.policyplanner.com/images/logo.png" alt="" style="height: 46px;" class="img-fluid">
              <span style="font-size: 14px;line-height:16px;color:rgba(255, 255, 255, 0.86);;margin-bottom: 0;"></span>
            </div>
          </div> -->
        </div>
        <div class="credits">
          <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Rapid
          -->
          <p style="color:rgba(236, 230, 230, 0.86);">PolicyPlanner Insurance Web Aggregator Pvt. Ltd. Reg office:Policy Planner Office No. B-03, 
                      KPCT Mall, Near Vishal Mega Mart,<br> Fatima Nagar, 
                      Wanawadi, Pune 411013. <a target="_blank" href="./assets/License 21st April 2020.pdf">IRDAI Web Aggregator License</a> No. 22, License Code No IRDAI/WBA/40/2016, Valid till 20/04/2023<br>*Insurance is the subject matter of solicitation. Visitors are hereby informed that their information submitted on the website may be shared with insurers. The product information for comparison displayed on this website is of the insurers with whom our company has an agreement.Product information is authentic and solely based on the information received from the Insurer.</p>
        </div>
      </div>
     
    </div>
  </footer>